<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{loginController.localeCode}">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<h:outputStylesheet library="css" name="main.css" />
		<h:outputScript library="javax.faces" name="jsf.js" target="head" />
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport"
				content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
		</f:facet>
	</h:head>

	<h:body styleClass="LeadenTopbar">

		<p:growl id="growl" life="2000" autoUpdate="true" />
		<p:layout fullPage="true">
			<p:layoutUnit position="north" size="40">

				<h:form id="formTopbar">
					<ul
						style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 80px; font-size: 13.5px !important;">

						<li
							style="margin-top: 10px; float: right; background: #1e94ff !important; padding: 0px 30px !important; border-radius: 30px !important;"
							class="cikis-label"><h:commandLink value="#{lang.lblcikis}"
								action="#{loginController.logout()}" /></li>

						<li style="float: left;"><h:link outcome="/login">
								<h:graphicImage value="resources/images/smartestool.png"
									style="height:70px;" />
							</h:link></li>
<!-- 										<li><h:outputText value="#{lang.dil} : "> -->
<!-- 							</h:outputText> <h:selectOneMenu value="#{loginController.localeCode}" -->
<!-- 								onchange="submit()" -->
<!-- 								valueChangeListener="#{loginController.changeLanguage}"> -->
<!-- 								<f:selectItem itemLabel="Türkçe" itemValue="tr" /> -->
<!-- 								<f:selectItem itemLabel="English" itemValue="en" /> -->

<!-- 							</h:selectOneMenu></li> -->
						<li style="float: right; margin-right: 20px; margin-top: 10px;"><h:commandLink>#{lang['hsgeldinlbl']} #{indexController.username}</h:commandLink></li>

			
					</ul>
				</h:form>


			</p:layoutUnit>
			<p:layoutUnit position="west" size="380" header="Test Otomasyon"
				collapsible="true" resizable="true" closable="true">


				<h:form>
					<p:growl autoUpdate="true" />

					<p:panelMenu style="width:375px">
						<p:submenu label="#{lang.menupref}">

							<p:menuitem value="#{lang.menuprm}"
								action="/gnlparameter.xhtml?faces-redirect=true"
								actionListener="#{gnlparamController.reset()}" />
							<p:menuitem value="#{lang.menuyet}"
								action="/userAuthsRoles.xhtml?faces-redirect=true" />
							<p:menuitem value="#{lang.menuprl}"
								action="/passwordchangeprm.xhtml?faces-redirect=true" />
							<p:menuitem value="#{lang.menukl}"
								action="/newuserprm.xhtml?faces-redirect=true" />

						</p:submenu>


						<p:submenu label="#{lang.menutcs}">
							<!-- 				              <p:menuitem value="#{lang.menuurl}" action="/urllist.xhtml?faces-redirect=true"  /> -->
							<p:menuitem value="#{lang.menuts}"
								action="/teststeppage.xhtml?faces-redirect=true"
								actionListener="#{testStepPageController.init()}"
								oncomplete="PF('app_param_detail').show()" />
							<p:menuitem value="Service Test"
								action="/apiPage.xhtml?faces-redirect=true"
								actionListener="#{testStepPageController.apiload()}" />
							<p:menuitem value="#{lang.menutcs1}"
								action="/testcase.xhtml?faces-redirect=true"
								actionListener="#{testCaseController.init()}" />
							<p:menuitem value="#{lang.menutstexec}"
								action="/testexecution.xhtml?faces-redirect=true"
								actionListener="#{testExecutionController.init()}" />
							<p:menuitem value="Scheduler"
								action="/scheduler.xhtml?faces-redirect=true"
								actionListener="#{testExecutionController.listSchedulers()}" />
						</p:submenu>
						<p:submenu label="#{lang.menurapor}">
							<p:menuitem value="#{lang.menudft}"
								action="/defect.xhtml?faces-redirect=true"
								actionListener="#{defectController.init()}" />
							<p:menuitem value="#{lang.menutsk}"
								action="/task.xhtml?faces-redirect=true"
								actionListener="#{taskController.init()}" />
							<p:menuitem value="#{lang.menurprexec}"
								action="/report.xhtml?faces-redirect=true"
								actionListener="#{reportController.init()}" />
							<p:menuitem value="DASHBOARD"
								action="/dashboard.xhtml?faces-redirect=true"
								actionListener="#{reportController.init()}" />

						</p:submenu>


					</p:panelMenu>
				</h:form>




			</p:layoutUnit>
			<p:layoutUnit position="center">

				<ui:insert name="content">
				</ui:insert>
			</p:layoutUnit>

			<p:layoutUnit position="south" size="40">



			</p:layoutUnit>

		</p:layout>
		<p:ajaxStatus
			style="width:40px; height:40px; position:fixed; right:30px; bottom:30px; z-index:999999;">
			<f:facet name="start">
				<i class="fa fa-circle-o-notch fa-spin Green Fs40"></i>
			</f:facet>

			<f:facet name="complete">
				<h:outputText value="" />
			</f:facet>
		</p:ajaxStatus>
	</h:body>

</f:view>
</html>
