<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">



	<ui:define name="content">


		<div class="ui-fluid">

			<h:form id="form1">
				<div class="Container100 Responsive100" style="height: auto;">
					<p:panelGrid columns="2">
						<p:panel id="panelReq" header="Service">
							<p:panelGrid columns="2">
								<p:outputLabel value="Service Name" style="width:50px"></p:outputLabel>
								<p:inputText
									value="#{testStepPageController.request.service_name}"
									style="width:600px"></p:inputText>
								<p:outputLabel value="Description"></p:outputLabel>
								<p:inputText
									value="#{testStepPageController.request.description}"></p:inputText>

						 <h:outputText value= "Request Type" > </h:outputText>
					
						<h:selectOneMenu value="#{testStepPageController.request.type}" onchange="submit()">
							  <f:selectItem  itemLabel="GET" itemValue="GET" /> 
				   			  <f:selectItem  itemLabel="POST" itemValue="POST" />                
				   		</h:selectOneMenu>
				   		
								<p:outputLabel value="End Point URL"></p:outputLabel>
								<p:inputText value="#{testStepPageController.request.url}"></p:inputText>
								<p:outputLabel value="Request"></p:outputLabel>
								<p:inputTextarea id="jsonData" cols="10" rows="20"
									autoResize="false"
									value="#{testStepPageController.request.request_text}"></p:inputTextarea>
							</p:panelGrid>
							<p:panelGrid columns="3">
								<p:commandButton value="Save Request" update="tcps"
									actionListener="#{testStepPageController.saveRequest}"></p:commandButton>
								<p:commandButton value="Reset Request" update="@form"
									actionListener="#{testStepPageController.resetRequest}"></p:commandButton>
								<p:commandButton value="RUN" update="@form"
									actionListener="#{testStepPageController.runRequest}"></p:commandButton>
							</p:panelGrid>
						</p:panel>
						<p:panelGrid columns="1">
							<p:panel header="Response">
								<h:inputTextarea rows="10" style="width:100%"
									value="#{testStepPageController.output}"></h:inputTextarea>
							</p:panel>
							<!-- 							<p:panel header="Variable"> -->
							<!-- 								<p:commandButton value="Generate Parameters" update="@form" -->
							<!-- 									actionListener="#{testStepPageController.generateParams}"></p:commandButton> -->
							<!-- 							</p:panel> -->
							<p:panel header="Authorization">
								<p:outputLabel value="Username:"></p:outputLabel>
								<p:inputText value="#{testStepPageController.rp_username}"></p:inputText>
								<p:outputLabel value="Password:"></p:outputLabel>
								<p:inputText value="#{testStepPageController.rp_password}"></p:inputText>
							</p:panel>
							<!-- 							<p:panel header="Headers"> -->
							<!-- 								<p:commandButton value="Add Header" -->
							<!-- 									actionListener="#{testStepPageController.addHeader}" -->
							<!-- 									update="headers"></p:commandButton> -->
							<!-- 								<p:dataTable id="headers" var="header_var" draggableRows="true" -->
							<!-- 									widgetVar="Headers" reflow="true" emptyMessage="header ekle" -->
							<!-- 									value="#{testStepPageController.headers}"> -->
							<!-- 									<p:column headerText="#{lang.btncasesil}" width="20%"> -->
							<!-- 										<p:commandButton icon="ui-icon-trash" process="@this" -->
							<!-- 											update="headers" title="Remove" -->
							<!-- 											actionListener="#{testStepPageController.removeHeader(header_var)}" /> -->
							<!-- 									</p:column> -->
							<!-- 									<p:column headerText="key"> -->
							<!-- 										<p:inputText value="#{header_var.key}"></p:inputText> -->
							<!-- 									</p:column> -->
							<!-- 									<p:column headerText="value"> -->
							<!-- 										<p:inputText value="#{header_var.value}"></p:inputText> -->
							<!-- 									</p:column> -->
							<!-- 								</p:dataTable> -->
							<!-- 							</p:panel> -->
							<p:panel header="Parameters">
								<p:commandButton value="Add Parameter"
									actionListener="#{testStepPageController.addParameter}"
									update="tcps"></p:commandButton>
								<p:commandButton value="Save Parameter"
									actionListener="#{testStepPageController.saveTcps}"
									update="tcps"></p:commandButton>
								<p:dataTable id="tcps" var="tcp" draggableRows="true"
									widgetVar="Headers" reflow="true" emptyMessage="header ekle"
									value="#{testStepPageController.request.propertyGroupCatalog.testCasePropertyList}">
									<!-- 									<p:column headerText="#{lang.btncasesil}" width="20%"> -->
									<!-- 										<p:commandButton icon="ui-icon-trash" process="@this" -->
									<!-- 											update="headers" title="Remove" -->
									<!-- 											actionListener="#{testStepPageController.removeHeader(header_var)}" /> -->
									<!-- 									</p:column> -->
									<p:column headerText="key">
										<p:inputText value="#{tcp.key}"></p:inputText>
									</p:column>
									<p:column headerText="value">
										<p:inputText value="#{tcp.value}"></p:inputText>
									</p:column>
									<p:column headerText="input/output">
										<p:inputText value="#{tcp.inputoutput}"></p:inputText>
									</p:column>
								</p:dataTable>
							</p:panel>
						</p:panelGrid>
					</p:panelGrid>
					<p:panel>
						<p:dataTable id="requests" var="req" draggableRows="true"
							selectionMode="single" rowKey="#{req.id}"
							selection="#{testStepPageController.selectedRequest}"
							widgetVar="Headers" reflow="true" emptyMessage="header ekle"
							value="#{testStepPageController.requestList}">
							<p:ajax event="rowSelect" update="@form"
								listener="#{testStepPageController.getRequestById}" />
							<p:column headerText="#{lang.btncasesil}" width="5%">
								<p:commandButton icon="ui-icon-trash" process="@this"
									update="requests" title="Delete"
									actionListener="#{testStepPageController.deleteRequest(req)}" />
							</p:column>
							<p:column headerText="service_name" width="30%">
								<h:outputText value="#{req.service_name}"></h:outputText>
							</p:column>
							<p:column headerText="description" width="35%">
								<h:outputText value="#{req.description}"></h:outputText>
							</p:column>
							<p:column headerText="url" width="30%">
								<h:outputText value="#{req.url}"></h:outputText>
							</p:column>
						</p:dataTable>
					</p:panel>


				</div>




			</h:form>
		</div>

	</ui:define>


</ui:composition>