<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">



	<ui:define name="content">
		<style type="text/css">
.fail {
	background-color: red;
}

.success {
	background-color: green;
}
</style>


		<div class="ui-fluid">

			<h:form id="form1">
				<div class="Container100 Responsive100" style="height: auto;">
					<p:panel>
						<p:panelGrid columns="3" style="align:top;">
							<p:panel header="Test Case Run Success Rate33">
								<p:chart type="pie" model="#{reportController.testCaseState}"
									style="height:300px" />
							</p:panel>
							<p:panel header="Failed Test Case List At The Last Run">
								<p:dataTable id="lastRunFailedTestCaseList" var="testcase"
									value="#{reportController.lastRunFailedTestCaseList}"
									style="width:100%;">

									<p:column headerText="id" visible="false">
										<h:outputText value="#{testcase.id}" />
									</p:column>
									<p:column headerText="#{lang.testcasename}"
										filterBy="#{testcase.name}">
										<p:commandLink value="#{testcase.name}"
											actionListener="#{testCaseController.openTestCaseDetailPage(testcase)}" />
									</p:column>
								</p:dataTable>

							</p:panel>
							<p:panel header="Test Steps Not Used in Any Test Case">
								<p:dataTable id="appParamListNotUsed" var="appParam"
									value="#{reportController.appParamListNotUsed}"
									style="width:100%;">

									<p:column headerText="id" visible="false">
										<h:outputText value="#{testcase.id}" />
									</p:column>
									<p:column headerText="">
										<p:commandLink value="#{appParam.description}" />
									</p:column>
								</p:dataTable>
							</p:panel>
							<p:panel header="Last Comments">
								<p:dataTable id="lastComments" var="comment"
									value="#{reportController.lastComments}" style="width:100%;">

									<p:column headerText="id" visible="false">
										<h:outputText value="#{comment.id}" />
									</p:column>
									<p:column headerText="">
										<p:commandLink value="#{comment.comments}" />
									</p:column>
									<p:column headerText="">
										<p:commandLink value="#{comment.userName}" />
									</p:column>
									<p:column headerText="Defect ID" >
										<p:commandLink value="#{comment.defectId}" />
									</p:column>
								</p:dataTable>
							</p:panel>
							<p:panel header="Defect List">
								<p:dataTable id="totalDefectListOpenByAutomation" var="defect"
									value="#{reportController.totalDefectListOpenByAutomation}"
									style="width:100%;">

									<p:column headerText="id" visible="false">
										<h:outputText value="#{testcase.id}" />
									</p:column>
									<p:column headerText="">
										<p:commandLink value="#{defect.description}" />
									</p:column>
									<p:column headerText="">
										<p:commandLink value="#{defect.severity}" />
									</p:column>
									<p:column headerText="">
										<p:commandLink value="#{defect.created_date}" />
									</p:column>
								</p:dataTable>
							</p:panel>
							<p:panel>
								<p:dataTable id="dtrpt" emptyMessage="#{lang.emptymsg}" var="d"
									reflow="true" value="#{reportController.listReport}"
									selectionMode="single"
									selection="#{reportController.selectrpt}" rowKey="#{d.id}"
									paginator="true" rows="10" rowsPerPageTemplate="5,10,15"
									paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}">

									<p:column headerText="#{lang.idno}" filterBy="#{d.id}"
										visible="false"
										styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
										<h:outputText value="#{d.id}" />
									</p:column>


									<p:column headerText="#{lang.errlog}" filterBy="#{d.errlog}"
										width="50%"
										styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
										<h:outputText value="#{d.errlog}" />
									</p:column>
									<p:column headerText="#{lang.state}" filterBy="#{d.state}"
										visible="false" width="10%"
										styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
										<h:outputText value="#{d.state}" />
									</p:column>

									<p:column headerText="#{lang.kytypn}" filterBy="#{d.create_by}"
										width="10%"
										styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
										<h:outputText value="#{d.create_by}" />
									</p:column>

									<p:column headerText="#{lang.kyttrh}" filterBy="#{d.endDate}"
										width="10%"
										styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
										<h:outputText value="#{d.endDate}">
											<f:convertDateTime type="date" pattern="dd.MM.yyyy"
												timeZone="Europe/Berlin" />
										</h:outputText>
									</p:column>
								</p:dataTable>
							</p:panel>

						</p:panelGrid>
					</p:panel>
				</div>

			</h:form>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</div>

	</ui:define>


</ui:composition>