<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="WEB-INF/template/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    
    
    <ui:define name="content" >
       
        
            <div class="ui-fluid">

                <h:form id="form1" >          
                    <div class="Container100 Responsive100" style="height: 600px;">
                        <p:panel >
                        
                          <div class="ui-fluid">
                            <f:facet name="header" >
                              #{lang.defectcpt}
                            </f:facet>

								  <p:messages id="mss"></p:messages>
	                              <h:inputHidden></h:inputHidden>
	                           
	                            
                                <p:commandButton value="#{lang.newdft}"  actionListener="#{defectController.reset()}"    onclick="PF('dialogprm').show()" style="width: 20%;"/>
	                                
	                             <br/>     
                               <p:dataTable id="dtdfct" emptyMessage="#{lang.emptymsg}" var="d"  reflow="true" value="#{defectController.listDefect}" filteredValue="#{defectController.filterDefect}" 
				                        selectionMode="single"  selection="#{defectController.selectdfc}" rowKey="#{d.id}" resizableColumns="true" 
				                        resizeMode="false"
				                         paginator="true" rows="10"   rowsPerPageTemplate="5,10,15" 
						                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						             
				                       >
				                       
				                        <p:ajax event="rowSelect" listener="#{defectController.onRowSelect}" update=":form1" />
				                     
				                        <p:column headerText="#{lang.severity}" filterBy="#{d.severity}" width="10%" >
				                            <h:outputText value="#{d.severity}" />
				                        </p:column>
				                        
				                        <p:column headerText="#{lang.statu}" filterBy="#{d.state}" width="10%" >
				                            <h:outputText value="#{d.state}" />
				                        </p:column>
				                        
				                        <p:column headerText="#{lang.assign}" filterBy="#{d.assign_user.user_name}" width="10%" >
				                            <h:outputText value="#{d.assign_user.user_name}" />
				                        </p:column>
				                        
				                        
				                        <p:column headerText="#{lang.kytypn}" filterBy="#{d.created_by}" width="10%">
				                            <h:outputText value="#{d.created_by}" />
				                        </p:column>
				                         
				                        <p:column headerText="#{lang.kyttrh}" filterBy="#{d.created_date}" width="10%">
				                            <h:outputText value="#{d.created_date}" >
				                                <f:convertDateTime type="date" pattern="dd.MM.yyyy" timeZone="Europe/Berlin" />
				                            </h:outputText>
				                        </p:column>
				               </p:dataTable>
				               <br/> 
				               
				             <p:panelGrid columns="2"   columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-panelgrid-blank" rendered="#{defectController.defectComments}">
                          
                              
                               <p:inputTextarea title="#{lang.dfcdesc}" disabled="true" widgetVar="editor" value="#{lang.dfcdesc} :  #{defectController.selectdfc.description}" height="300" style="margin-bottom:10px" />
 
                          
				               <p:dataScroller id="cmntlist" value="#{defectController.listCommentsDefect}" var="c" chunkSize="10" mode="inline" scrollHeight="200"  >
							        <f:facet name="header">
							            #{lang.yorumlar}
							        </f:facet>
							 
							        <h:panelGrid columns="2" style="width:100%" >
							           
							            <p:outputPanel>
							                <h:panelGrid columns="2" cellpadding="5">
							                    <h:outputText value="#{lang.yorum} :" />
							                    <h:outputText value="#{c.comments}" style="font-weight: bold"/>
							 
							                    <h:outputText value="Crated By :" />
							                    <h:outputText value="#{c.userName}" style="font-weight: bold"/>
							 
							                     
				                                 <p:commandButton value="#{lang.dfcyorumrmv}" actionListener="#{defectController.removeCommmentOnDefect(c)}"  > </p:commandButton>
				                                 <h:inputHidden  />
				    
							                   
							                </h:panelGrid>
							            </p:outputPanel>
							        </h:panelGrid>
							    </p:dataScroller>
				                
				          </p:panelGrid>

                        </div>
                                        
                        </p:panel>
                    </div>

                   

                </h:form>   
                
                
                  <p:dialog responsive="true" id ="dialogprm" widgetVar="dialogprm" height="450" width="65%" closable="true"  header="#{lang.newdft}">
                    <h:form id="dtform">
                           
                           
	                           <p:panelGrid columns="2" id="panel"  columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-panelgrid-blank">
                          
	                                <p:outputLabel for="desc" value="#{lang.aciklama}"/>
	                                <p:inputTextarea  id="desc" value="#{defectController.defect.description}"  style="width:50%" />
                               
                                     <p:outputLabel for="statu" value="#{lang.statu}"/>
                                     <p:selectOneMenu id="statu" value="#{defectController.defect.state}" 
                                                   style="width:50%" >
                                              <f:selectItem   itemLabel="Seçiniz" itemValue="" />
		                                      <f:selectItems value="#{defectController.listStatu}" var="s" itemLabel="#{s}" itemValue="#{s}" />
											
                                     </p:selectOneMenu>
                                     
                                     
                                     <p:outputLabel for="svr" value="#{lang.severity}"/>
                                     <p:selectOneMenu id="svr" value="#{defectController.defect.severity}" 
                                                   style="width:50%" >
                                              <f:selectItem   itemLabel="Seçiniz" itemValue="" />
		                                       <f:selectItems value="#{defectController.listSeverity}" var="s" itemLabel="#{s}" itemValue="#{s}" />
											
                                     </p:selectOneMenu>
                                 
                                        <p:outputLabel for="asgn" value="#{lang.assign}" />
		                                <p:selectOneMenu id="asgn" value="#{defectController.defect.assign_user.id}" 
		                                                  style="width:50%" >
		                                    <f:selectItem   itemLabel="Seçiniz" itemValue="" />
		                                    <f:selectItems value="#{defectController.listUser}" var="u" itemLabel="#{u.user_name}" itemValue="#{u.id}" />
												 
		                                </p:selectOneMenu>
                                   
	                                
	                                <p:outputLabel for="cmt" value="#{lang.yorum}"/>	                            
		                            <p:inputTextarea id="cmt" value="#{defectController.comments}" placeholder="#{lang.newcmt}" style="width:60%"    />
		                           
                                    
                                    <h:inputHidden value="" />
	                                <p:column>
		                              
		                                <p:commandButton value="#{lang.addcmt}" actionListener="#{defectController.addlistComment()}"  process="dtform:cmt"  update=":dtform:cmt"  style="width:30%"></p:commandButton>
		                                <p:commandButton value="#{lang.cmtlist}" style="width:30%; "    process=":dtformCmt:dtCmt"   update=":dtformCmt:dtCmt"  onclick="PF('dialogComment').show()"  ></p:commandButton>
                                    </p:column>
                                    
                                    <h:inputHidden value="" />
                                     <p:commandButton id="btnKayit" actionListener="#{defectController.save()}"  value="#{lang.btnKayit}" process=":dtform"   update=":dtform :form1:dtdfct"  style="width:50%;"/>
                                              
                                   
                            </p:panelGrid> 
                   </h:form>
                 </p:dialog>  
              
                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				  </p:confirmDialog>
				  
				   <p:dialog responsive="true" id ="dialogComment" widgetVar="dialogComment" height="300" width="40%" closable="true"  header="#{lang.cmtlist}">
                    <h:form id="dtformCmt">
                         <p:dataTable id="dtCmt" emptyMessage="#{lang.emptymsg}" var="cmt"  reflow="true" value="#{defectController.listComments}" >
				                       
				                <p:column headerText="#{lang.yorum}"  width="50%" >
				                            <h:outputText value="#{cmt.comments}" />
				                 </p:column>   
				                 <p:column headerText="#{lang.dfcyorumrmv}"  width="50%" >
				                           <p:commandButton value="#{lang.dfcyorumrmv}" actionListener="#{defectController.removeComment(cmt)}" update=":dtformCmt:dtCmt" > </p:commandButton>
				                 </p:column>      
				                       
					   </p:dataTable>
					   </h:form>
				   </p:dialog>
				   
				 
				                
                  
            </div>
       
    </ui:define>


</ui:composition>