<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">



	<ui:define name="content">


		<div class="ui-fluid">

			<h:form id="form1">
				<div class="Container100 Responsive100" style="height: 600px;">
					<p:panel>

						<div class="ui-fluid">
							<f:facet name="header">
                              #{lang.gnlprmtrcapt}
                            </f:facet>

							<p:messages id="mss"></p:messages>
							<h:inputHidden></h:inputHidden>

							<p:panelGrid columns="9" layout="grid"
								styleClass="ui-panelgrid-blank">

								<p:commandButton id="btnKayit" value="#{lang.btnKayit}"
									update="mss" actionListener="#{gnlparamController.save()}" />

								<p:commandButton id="btnSil" value="#{lang.btnSil}"
									update=":form1" actionListener="#{gnlparamController.delete()}">
									<p:confirm header="#{lang.bilgi}" message="#{lang.msgdelete}"
										icon="ui-icon-alert" />
								</p:commandButton>



								<p:commandButton id="btnYeni" value="#{lang.btnYeni}"
									actionListener="#{gnlparamController.reset()}" update=":form1"
									process="@this">
									<p:resetInput target="panel" />
								</p:commandButton>



							</p:panelGrid>
							<br />
							<p:panelGrid columns="2" id="panel"
								columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid"
								styleClass="ui-panelgrid-blank">


								<p:outputLabel for="name" value="#{lang.gnlname}" />
								<p:column>

									<p:inputText id="name"
										value="#{gnlparamController.gnlparam.name}" style="width:30%">
									</p:inputText>
									<p:commandButton value="#{lang.btnList}"
										process=":dtform:dtprm" update=":dtform:dtprm"
										actionListener="#{gnlparamController.getParamList}"
										onclick="PF('dialogprm').show()" style="width: 20%;" />

								</p:column>

								<p:outputLabel for="value" value="#{lang.gnlvalue}" />
								<p:inputTextarea id="value"
									value="#{gnlparamController.gnlparam.value}" style="width:50%"
									rows="10" cols="70" feedback="true"
									promptLabel="Enter Password" weakLabel="Zayıf" goodLabel="Orta"
									strongLabel="Güclü">
								</p:inputTextarea>

								<p:outputLabel for="desc" value="#{lang.gnlaciklama}" />
								<p:inputText id="desc"
									value="#{gnlparamController.gnlparam.description}"
									style="width:50%" />



							</p:panelGrid>
							<p:panel>
							<p:panelGrid columns="2">
								<p:outputLabel value="Execution Job Status:" />
								<p:outputLabel
									value="#{gnlparamController.executionJobStatus eq 'RUNNING'? 'Running' : 'Stopped'}" />
								<p:outputLabel
									value="#{gnlparamController.executionJobStatus eq 'RUNNING'? 'Stop Execution Job' : 'Start Execution Job'}" />
								<p:commandButton
									value="#{gnlparamController.executionJobStatus  eq 'RUNNING'? 'STOP' : 'START'}" update="@form"
									actionListener="#{gnlparamController.startStopExecutionJob}" />
									</p:panelGrid>
							</p:panel>
						</div>

					</p:panel>
				</div>



			</h:form>


			<p:dialog responsive="true" id="dialogprm" widgetVar="dialogprm"
				height="450" width="60%" closable="true" header="Parametre Listesi">
				<h:form id="dtform">
					<p:dataTable id="dtprm" emptyMessage="#{lang.emptymsg}" var="u"
						reflow="true" value="#{gnlparamController.listGnlPrm}"
						filteredValue="#{gnlparamController.filterGnlPrm}"
						selectionMode="single"
						selection="#{gnlparamController.selectGnlPrm}" rowKey="#{u.id}">
						<p:ajax event="rowSelect" update=":form1:panel"
							oncomplete="PF('dialogprm').hide()" />

						<p:column headerText="id" filterBy="#{u.id}" visible="false">
							<h:outputText value="#{u.id}" />
						</p:column>

						<p:column headerText="#{lang.gnlname}" filterBy="#{u.name}">
							<h:outputText value="#{u.name}" />
						</p:column>
						<p:column headerText="#{lang.gnlvalue}" filterBy="#{u.value}">
							<h:outputText value="#{u.value}" />
						</p:column>

						<p:column headerText="#{lang.gnlaciklama}"
							filterBy="#{u.description}">
							<h:outputText value="#{u.description}" />
						</p:column>

					</p:dataTable>
				</h:form>
			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</div>

	</ui:define>


</ui:composition>