<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="WEB-INF/template/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    
    
    <ui:define name="content" >
        <p:growl id="msgs" />  
       <f:event listener="#{indexController.onload()}" type="preRenderView" />
       <h:form>
               <p:accordionPanel>
               
                    <p:outputLabel>Test Otomasyonu Anasayfası</p:outputLabel>
               
               
               
               </p:accordionPanel>
          
       </h:form>
    </ui:define>


</ui:composition>