<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"	>
	<h:head>
	    <title>#{lang.loginbaslik}</title>
	      <h:outputStylesheet library="css"  name="login.css" />
	      <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
                <meta name="apple-mobile-web-app-capable" content="yes" />
            </f:facet>
	</h:head>
	<body>
	
	  <div  style="margin-left: 0px;">
		  <h:form>
		 
		               <h:outputText value="#{lang.dil} : " > </h:outputText>
						<h:selectOneMenu value="#{loginController.localeCode}" onchange="submit()"
							valueChangeListener="#{loginController.changeLanguage}">
							  <f:selectItem  itemLabel="Türkçe" itemValue="tr" /> 
				   			  <f:selectItem  itemLabel="English" itemValue="en" />
                            
				   		</h:selectOneMenu>
                        
		    </h:form>
		  </div>
		
		<h:form id="loginform" >
		    <div style=" height: 200px;
					    margin-left: 30%;
					    margin-top: 10% ;
					    margin-right: 30% ;" >
            <div class="Container70" >
               <p:fieldset >
               			<h:graphicImage value="resources/images/smartestool.png"  style="width:60%;margin-left:20%;margin-right:20%;"   />
                        <div class="Container100">
                            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
                                         layout="grid" styleClass="ui-panelgrid-blank" >
                                <h:inputHidden/>
                                <h:inputHidden/>
                            </p:panelGrid>
                             <p:messages id="login"></p:messages>
                            
                        </div>
                        
                          <div class="Container100" style="width:70%;margin-left:20%;margin-right:10%;">
                            <p:panelGrid  columns="1" columnClasses="ui-grid-col-12"
                                         layout="grid" styleClass="ui-panelgrid-blank" >
						        <p:inputText value="#{loginController.username}" id="username" 
								required="true" requiredMessage="Username cannot be empty"
								label="username">
						      </p:inputText>

                            </p:panelGrid>
                        </div>

                        <div class="Container100" style="width:70%;margin-left:20%;margin-right:10%;">
                            <p:panelGrid id="panel" columns="1" columnClasses="ui-grid-col-12"
                                         layout="grid" styleClass="ui-panelgrid-blank" >
							      <p:password value="#{loginController.password}" id="password"/>
                            </p:panelGrid>
                        </div>
                        <div class="Container100" style="width:60%;margin-left:20%;margin-right:10%;">
                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12"
                                         layout="grid" styleClass="ui-panelgrid-blank" >
							      <p:commandButton id="loginButton" value="#{lang.loginbtn}" update="login"  
									action="#{loginController.validateUser()}" ajax="false" />
                            </p:panelGrid>
                        </div>
                        <div class="Container100" style="text-align:center;">
                            <p:panelGrid  columns="1" columnClasses="ui-grid-col-12"
                                         layout="grid" styleClass="ui-panelgrid-blank">
	                              <p:commandLink value="#{lang.lgnprlunt}" />
							    
                            </p:panelGrid>
                        </div>
                      <p:watermark for="username" value="#{lang.kadilbl}" />
                      <p:watermark for="password" value="#{lang.parolalbl}" />
			</p:fieldset>
			
		  </div>	
		  </div>
		</h:form>

	</body>
</html>