<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="WEB-INF/template/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    
    
    <ui:define name="content" >
           
             <p:growl id="mss" />  
            <div class="ui-fluid">

                <h:form id="form1" >          
                    <div class="Container100 Responsive100" style="height: auto;">
                        <p:panel >
                        
                          <div class="ui-fluid">
                            <f:facet name="header" >
                              #{lang.newusercapt}
                            </f:facet>

							  
                              <h:inputHidden></h:inputHidden>
                           
                            
                            <br/>
                            <p:panelGrid columns="2" id="panel"  columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-panelgrid-blank">
                          
                               
                                <p:outputLabel for="username" value="#{lang.kadilbl}"/>
                                <p:column>
                              
                                <p:inputText id="username" value="#{newUserController.user.user_name}"  style="width:30%"    >
                                </p:inputText>
                                <p:commandButton value="#{lang.btnList}"   process="@form"   update=":dtform:dtuser"  action="#{newUserController.getUserList()}"   onclick="PF('dialoguser').show()" style="width: 20%;"/>
                                
                                </p:column>

                             
                                
                                 <p:outputLabel for="mail" value="#{lang.mail}"/>
                                 <p:inputText  id="mail" value="#{newUserController.user.mailAddress}" style="width:50%"  
                                   
                                   >
                                      
                                 </p:inputText>
                               
                                  <p:outputLabel for="tel" value="#{lang.tel}"/>                             
                                  <p:inputMask id="tel" value="#{newUserController.user.telNo}" mask="(999) 999-9999" style="width:50%" />
                                 
                                <p:outputLabel for="type" value="#{lang.userType}" />
                                <p:selectOneMenu id="type" value="#{newUserController.user.userAuth}" 
                                                  style="width:50%" >
                                    <f:selectItem   itemLabel="Seçiniz" itemValue="" />
                                    <f:selectItems value="#{newUserController.userAuth}"
										               var="aut" itemLabel="#{aut.user_type}"
										             	itemValue="#{aut.id}"
										 /> 
                                </p:selectOneMenu>


                                <p:outputLabel for="status" value="#{lang.statuslbl}" />
                                <p:selectOneMenu id="status" value="#{newUserController.user.status}" 
                                                 required="true" requiredMessage="Zorunlu"  style="width:50%" >
                                    <f:selectItem  itemLabel="Aktif" itemValue="Aktif" />
                                    <f:selectItem  itemLabel="Pasif" itemValue="Pasif" />
                                </p:selectOneMenu>

                            </p:panelGrid>
                            <br/><br/>
                            <p:panelGrid columns="9" layout="grid" styleClass="ui-panelgrid-blank">

                                <p:commandButton id="btnKayit" value="#{lang.btnKayit}" update=":mss form1"
                                                 actionListener="#{newUserController.save()}"
                                                 />

                               <p:commandButton id="btnSil" value="#{lang.btnSil}" update=":mss form1"
                                                 actionListener="#{newUserController.delete()}"
                                                 />
                               
                              
                                
                                <p:commandButton id="btnYeni" value="#{lang.btnYeni}" actionListener="#{newUserController.reset()}"  
                                     update=":form1" process="@this"   >                                  
                                     <p:resetInput target="panel" />
                                </p:commandButton>
                               

                               
                            </p:panelGrid> 
                        </div>
                                        
                        </p:panel>
                    </div>

                   

                </h:form>   
                
               
                  <p:dialog responsive="true" id ="dialoguser" widgetVar="dialoguser" height="450" width="70%" closable="true"  header="Kullanıcı Listesi">
                    <h:form id="dtform">
                    <p:dataTable id="dtuser" emptyMessage="Veri Yok" var="u"  reflow="true" value="#{newUserController.listUser}" filteredValue="#{newUserController.filterUser}" 
                       selectionMode="single"  selection="#{newUserController.user}" rowKey="#{u.id}">
                        <p:ajax event="rowSelect" update=":form1:panel"
                                oncomplete="PF('dialoguser').hide()"   /> 

                       <p:column headerText="No" filterBy="#{u.id}" >
                            <h:outputText value="#{u.id}" />
                        </p:column>
                        <p:column headerText="Username" filterBy="#{u.user_name}">
                            <h:outputText value="#{u.user_name}" />
                        </p:column>
                         
                        <p:column headerText="Status" filterBy="#{u.status}">
                            <h:outputText value="#{u.status}" />
                        </p:column>

                    </p:dataTable>
                   </h:form>
                 </p:dialog>      
              
                  
            </div>
       
    </ui:define>


</ui:composition>