<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="WEB-INF/template/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    
    
    <ui:define name="content" >
         <p:growl id="msgs" />  
        
            <div class="ui-fluid">

                <h:form id="form1" >          
                    <div class="Container70 Responsive100">
                        <p:panel>
                            <f:facet name="header" >
                               #{lang.paroladegiscaption}
                            </f:facet>


                            <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-6"
                                         layout="grid" styleClass="ui-panelgrid-blank" >                    


                                <p:messages id="login"></p:messages>
                                <h:inputHidden></h:inputHidden>
                                
                                <p:outputLabel for="parola" value="#{lang['parolalbl']}" />
                                <p:password id="parola" value="#{passchangeController.password}" style="width: 50%"/>


                                <p:outputLabel for="yparola" value="#{lang.yparolalbl}"/>
                                <p:password id="yparola" value="#{passchangeController.newpassword}" required="true" requiredMessage="Zorunlu Alan" style="width: 50%" />

                                <p:outputLabel for="yparolat" value="#{lang.yparolatklbl}"/>
                                <p:password id="yparolat" value="#{passchangeController.newpassword2}" required="true" requiredMessage="Zorunlu Alan" style="width: 50%" />

                                <h:inputHidden />
                                <p:commandButton id="btnKayit" style="width: 50%" value="#{lang.guncellebtn}" update=":msgs :form1" action="#{passchangeController.updatePassword()}" 
                                                 />

                            </p:panelGrid>                 
                        </p:panel>
                    </div>



                </h:form>   


            </div>
       
    </ui:define>


</ui:composition>