<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">



	<ui:define name="content">
		<style type="text/css">
.fail {
	background-color: red;
}

.success {
	background-color: green;
}

.datatable {
	border-width: 0px;
}
</style>


		<div class="ui-fluid">

			<h:form id="form1">
				<div class="Container100 Responsive100" style="height: 600px;">
					<p:panel>

						<div class="ui-fluid">
							<f:facet name="header">
                              #{lang.rpr}
                            </f:facet>

							<p:messages id="mss"></p:messages>
							<h:inputHidden></h:inputHidden>


							<p:dataTable id="dtrpt" emptyMessage="#{lang.emptymsg}" var="d"
								styleClass="datatable" style="height:20px" reflow="true"
								sortBy="#{d.endDate}" sortOrder="descending"
								value="#{reportController.listReport}" rowKey="#{d.id}"
								paginator="true" rows="20" rowsPerPageTemplate="5,10,15"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}">


								<p:column style="width:40px;">
									<p:commandButton icon="ui-icon-detail" process="@this"
										update="@form"
										actionListener="#{reportController.initializeGalleria(d)}"
										oncomplete="PF('reportDetail').show()"></p:commandButton>
								</p:column>
								<p:column headerText="#{lang.state}" filterBy="#{d.state}"
									width="10%"
									styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
									<h:outputText value="#{d.state}" />
								</p:column>

								<p:column headerText="#{lang.kytypn}" filterBy="#{d.create_by}"
									width="10%"
									styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
									<h:outputText value="#{d.create_by}" />
								</p:column>

								<p:column headerText="TestCase Name"
									filterBy="#{d.testcase_name}" width="10%"
									styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
									<h:outputText value="#{d.testCase.name}" />
								</p:column>
								<p:column headerText="Scheduler_ID" filterBy="#{d.create_by}"
									width="10%"
									styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
									<h:outputText value="#{d.scheduler.id}" />
								</p:column>
								<p:column headerText="Video" filterBy="#{d.create_by}"
									width="10%"
									styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
									<p:commandLink value="Show Video" icon="ui-icon-video"
										actionListener="#{reportController.initializeGalleria(d)}"
										oncomplete="PF('galleria').show()"></p:commandLink>
								</p:column>

								<p:column headerText="#{lang.kyttrh}" filterBy="#{d.endDate}"
									width="10%"
									styleClass="#{d.state=='failed' ? 'fail' : 'success'}">
									<h:outputText value="#{d.endDate}">
										<f:convertDateTime type="date" pattern="dd.MM.yyyy"
											timeZone="Europe/Berlin" />
									</h:outputText>
								</p:column>
							</p:dataTable>


						</div>

					</p:panel>
				</div>


				<p:dialog widgetVar="galleria" header="Video Log" responsive="true"
					dynamic="true" width="1900" showEffect="explode"
					hideEffect="bounce">
					<p:panel>
						<p:galleria value="#{reportController.images}" var="image"
							autoPlay="true" transitionInterval="1000" panelWidth="1920"
							panelHeight="925">
							<p:graphicImage value="/#{image}" />
						</p:galleria>
					</p:panel>
				</p:dialog>

				<p:dialog widgetVar="reportDetail"  
					responsive="true" dynamic="true" width="1300">

					<p:panelGrid columns="2" >
						<p:dataTable id="ss" emptyMessage="#{lang.emptymsg}" var="step1"
							reflow="true" scrollable="true" sortBy="#{step1.id}"
							sortOrder="ascending" value="#{reportController.lss}">
							<p:column headerText="Status" width="10%">
								<h:outputText value="#{step1.status}" />
							</p:column>
							<p:column headerText="Test Step Name"
								styleClass="#{step1.status=='FAILED' ? 'fail' : step1.status=='PASSED' ? 'success' : 'waiting'}">
								<h:outputText value="#{step1.name}" />
							</p:column>

							<p:column headerText="Description">
								<h:outputText value="#{step1.description}" escape="false" />
							</p:column>
							<p:column headerText="SS" width="10%">
								<p:lightBox styleClass="imagebox" id="lighbox1">
									<h:outputLink value="../smartest_ngta1/#{step1.ss_url}"
										title="Nature 1">
										<h:graphicImage value="#{step1.ss_url}"
											style="height: 77px; width: 100px" />
									</h:outputLink>
								</p:lightBox>
							</p:column>
							<p:column headerText="Diagnose" width="10%">
								<p:commandButton icon="fa-stethoscope"
									action="/teststeppage.xhtml?faces-redirect=true"
									actionListener="#{testStepPageController.onload()}"
									style=" width:25%; margin-right:0px;" update="@form"
									process="@form" ajax="true">
									<f:param name="ss" value="#{step1.testStep_id}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>

					</p:panelGrid>
				</p:dialog>


				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>


			</h:form>

		</div>
	</ui:define>


</ui:composition>