<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="content">
		<style type="text/css">
.fail {
	background-color: red;
}

.success {
	background-color: green;
}

.waiting {
	background-color: gray;
}
</style>

		<div class="ui-fluid">

			<h:form id="form1">
				<div class="Container100 Responsive100" style="height: 1200px;">
					<p:panel toggleable="true" collapsed="false">

						<div class="ui-fluid" style="text-align:center;">
							<f:facet name="header">
                              Scheduled Test Cases
                            </f:facet>

							<p:messages id="mss"></p:messages>
							<h:inputHidden></h:inputHidden>


							<!-- 							<p:commandButton value="#{lang.newdft}" -->
							<!-- 								actionListener="#{defectController.reset()}" -->
							<!-- 								onclick="PF('dialogprm').show()" style="width: 20%;" /> -->

							<!-- 							<br /> -->
							<p:dataTable id="scheduler" emptyMessage="#{lang.emptymsg}"
								var="d" reflow="true" sortBy="#{d.run_date}"
								sortOrder="descending" paginatorPosition="top"
								value="#{testExecutionController.schedulerList}"
								rowKey="#{d.id}" resizableColumns="true" resizeMode="false"
								paginator="true" rows="7" rowsPerPageTemplate="5,10,15"
								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">
								<p:column headerText="ID" style="width:40px;">
									<h:outputText value="#{d.id}" />
								</p:column>
								<p:column headerText="Test Case Name" style="width:180px;">
									<h:commandLink value="#{d.testcase_name}" style="color:blue; !important"
										action="/testcase.xhtml?faces-redirect=true"
										actionListener="#{testCaseController.init()}">
										<f:param name="testcase_id" value="#{d.testcase_id}" />
										</h:commandLink>
								</p:column>

								<p:column headerText="#{lang.statu}" filterBy="#{d.status}"
									style="width:60px;">
									<p:selectOneMenu value="#{d.status}">
										<f:selectItem itemValue="WAITING" itemLabel="WAITING"></f:selectItem>
										<f:selectItem itemValue="RUNNING" itemLabel="RUNNING"></f:selectItem>
										<f:selectItem itemValue="FINISHED" itemLabel="FINISHED"></f:selectItem>
										<f:selectItem itemValue="CANCELED" itemLabel="CANCELED"></f:selectItem>
									</p:selectOneMenu>
								</p:column>

								<p:column headerText="#{lang.kytypn}" filterBy="#{d.created_by}"
									style="width:80px;">
									<h:outputText value="#{d.created_by}" />
								</p:column>

								<p:column headerText="startURL" style="width:400px;">
									<h:outputText value="#{d.startURL}" />
								</p:column>
								<p:column headerText="Environment" style="width:120px;">
									<h:outputText value="#{d.environment}" />
								</p:column>
								<p:column headerText="Interval" style="width:120px;">
									<h:outputText value="#{d.interval}" />
								</p:column>
								<p:column headerText="Browser" style="width:120px;">
									<h:outputText value="#{d.browser}" />
								</p:column>
								<p:column headerText="#{lang.kyttrh}" style="width:250px;"
									filterBy="#{d.created_date}">
									<h:outputText value="#{d.run_date}">
										<f:convertDateTime type="date" pattern="dd.MM.yyyy"
											timeZone="Europe/Berlin" />
									</h:outputText>
								</p:column>
								<p:column headerText="Save" style="width:80px;">
									<p:commandButton value="Save" update="@form"
										actionListener="#{testExecutionController.saveScheduler(d)}"></p:commandButton>
								</p:column>
							</p:dataTable>
							<p:commandButton value="#{lang.run}"
								action="#{testExecutionController.runAllAvailableTestCase()}"
								style="margin-right:0px;margin-top:10px;font-size:17px !important;background-color:green !important;color:#fff !important;" update="@form"
								process="@form" ajax="true">
							</p:commandButton>
						</div>
					</p:panel> 
					<p:panel> 
						<p:poll interval="5"
							stop="#{testExecutionController.runningScheduler.status eq 'FINISHED'}"
							listener="#{testExecutionController.pollRunningstatus}"
							update="ssteps" />
						<p:panelGrid columns="2" columnClasses="label,value"
							style="height:800">
							<p:dataTable emptyMessage="#{lang.emptymsg}" var="step1"
								sortBy="#{step1.id}" sortOrder="ascending" id="ssteps" scrollable="true"
								reflow="true"  scrollHeight="500"  style="height:500px;"
								value="#{testExecutionController.scheduleStepList}">
								<p:column headerText="Status" width="10%"
									styleClass="#{step1.status=='FAILED' ? 'fail' : step1.status=='PASSED' ? 'success' : 'waiting'}">
									<h:outputText value="#{step1.status}" />
								</p:column>
								<p:column headerText="Test Step Name" width="10%"
									styleClass="#{step1.status=='FAILED' ? 'fail' : step1.status=='PASSED' ? 'success' : 'waiting'}">
									<h:outputText value="#{step1.name}" />
								</p:column>
								<p:column headerText="Execution Date" width="10%"
									styleClass="#{step1.status=='FAILED' ? 'fail' : step1.status=='PASSED' ? 'success' : 'waiting'}">
									<h:outputText value="#{step1.execuion_date}" />
								</p:column>
								<p:column headerText="Description" width="40%"
									styleClass="#{step1.status=='FAILED' ? 'fail' : step1.status=='PASSED' ? 'success' : 'waiting'}">
									<h:outputText value="#{step1.description}" escape="false" />
								</p:column>
								<p:column headerText="SS" width="10%">
									<p:lightBox styleClass="imagebox" id="lighbox1">
										<h:outputLink value="../smartest_ngta1/#{step1.ss_url}"
											title="Nature 1">
											<h:graphicImage value="#{step1.ss_url}"
												style="height: 77px; width: 100px" />
										</h:outputLink>
									</p:lightBox>
								</p:column>
								<p:column headerText="Diagnose" width="10%"  >
									<p:commandButton icon="fa-stethoscope"
										action="/teststeppage.xhtml?faces-redirect=true"
										actionListener="#{testStepPageController.onload()}"
										style=" width:25%; margin-right:0px;" update="@form"
										process="@form" ajax="true">
										<f:param name="ss" value="#{step1.testStep_id}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</p:panelGrid>
					</p:panel>

				</div>

			</h:form>
		</div>

	</ui:define>


</ui:composition>