<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">



	<ui:define name="content">
		<script>
			jQuery(document).ready(function() {
				PF('app_param_detail').show();
			});
		</script>
		<div class="ui-fluid">

			<h:form id="form1">
				<div class="Container100 Responsive100" style="height: auto;">
					<p:panel>

						<f:facet name="header">
                              #{lang.teststep}  
                            </f:facet>

						<p:messages id="mss"></p:messages>

						<p:dataTable id="appParamTable" var="prm"
							emptyMessage="Veri Bulunamadi" style="width:100%;"
							rowIndexVar="rowIndex" widgetVar="appParamTable"
							rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'highlight1' : 'highlight2'}"
							value="#{testStepPageController.appParameters}" scrollable="true"
							scrollHeight="750" reflow="true" paginator="true" rows="100"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="100,200,300">
							<f:facet name="header">

								<p:panelGrid columns="2">
									<p:column>
										<p:commandButton value="#{lang.newparam}" partialSubmit="true"
											update="appParamTable" process="@this" style="width:30%;"
											actionListener="#{testStepPageController.addNewParameter}" />

										<p:commandButton value="#{lang.newassert}" style="width:30%;"
											onclick="PF('assert').show()" />

									</p:column>

									<p:column>
										<h:outputText value="Search all fields:" style="color:#fff;" />
										<p:inputText id="globalFilter"
											onkeyup="PF('appParamTable').filter()"
											style="width:150px;margin-left:10px;"
											placeholder="Enter keyword" />
									</p:column>

								</p:panelGrid>


							</f:facet>
							<p:column headerText="id" width="10%" visible="false"
								filterBy="#{prm.id}">
								<p:inputText value="#{prm.id}" label="Value" />
							</p:column>

							<p:column headerText="#{lang.pagename}" width="15%"
								filterBy="#{prm.page}" filterMatchMode="exact">
								<f:facet name="filter">
									<p:selectOneMenu onchange="PF('appParamTable').filter()">
										<f:selectItem itemLabel="Seçiniz" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems value="#{testStepPageController.pagesFilter}" />
									</p:selectOneMenu>
								</f:facet>
								<p:inputText value="#{prm.page}" required="true" label="Value" />
							</p:column>
 
							<p:column headerText="Platform" width="10%"
								filterBy="#{prm.platform}">
								<p:selectOneMenu value="#{prm.platform}">
									<f:selectItem itemLabel="WEB" itemValue="WEB" />
									<f:selectItem itemLabel="ANDROID" itemValue="ANDROID" />
									<f:selectItem itemLabel="IOS" itemValue="IOS" />
									<f:selectItem itemLabel="AUTOIT" itemValue="AUTOIT" />
									<f:selectItem itemLabel="SIKULI" itemValue="SIKULI" />
								</p:selectOneMenu>

							</p:column>
							<p:column headerText="#{lang.aciklama}" width="70%"
								filterBy="#{prm.description}">
								<p:inputText value="#{prm.description}" label="Description"
									required="true" />
							</p:column>
							<p:column headerText="#{lang.detail}" width="10%">
								<p:commandButton icon="ui-icon-triangle-1-e"
									actionListener="#{testStepPageController.prepareAppParameter(prm)}"
									oncomplete="PF('app_param_detail').show()" process="@this"
									update=":form1:app_param_detail">
								</p:commandButton>
							</p:column>
							<p:column headerText="#{lang.kaldir}" width="10%">
								<p:commandButton icon="ui-icon-trash" partialSubmit="true"
									update=":form1:appParamTable"
									actionListener="#{testStepPageController.deleteParam(prm)}" />

							</p:column>
							<f:facet name="footer">
								<p:commandButton value="#{lang.btnKayit}" id="saveparam"
									style="width:33%;" process="@form" update="appParamTable"
									actionListener="#{testStepPageController.saveParameters()}" />
							</f:facet>

						</p:dataTable>



					</p:panel>
				</div>


				<!-- -create assertion dialog... -->



				<p:dialog id="app_param_detail" widgetVar="app_param_detail"
					visible="#{testStepPageController.selectedAppParam != null}"
					width="70%" height="600px;" header="#{lang.newappdet}"
					dynamic="true" showEffect="true" responsive="true">
					<p:panel>

						<p:dataTable id="appParamDetList" var="prm"
							emptyMessage="Veri Bulunamadi" style="width:100%;" height="600px"
							widgetVar="appParamDetList"
							value="#{testStepPageController.selectedAppParam.appParamDetailList}"
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="100,200,300">
							<f:facet name="header">
								<p:panelGrid columns="2">
									<p:column>
										<p:commandButton value="#{lang.newparam}" partialSubmit="true"
											update="appParamDetList" process="@this" style="width:30%;"
											actionListener="#{testStepPageController.addNewParamDetail()}" />
										<p:commandButton value="#{lang.btnKayit}" id="saveparam"
											style="width:33%;" process="@form"
											update="appParamDetList :form1:appParamTable"
											oncomplete="PF('app_param_detail').hide()"
											actionListener="#{testStepPageController.saveParamDetails()}" />
									</p:column>


								</p:panelGrid>

							</f:facet>
							<p:column headerText="Tag Name" width="15%"
								filterBy="#{prm.value}">
								<p:selectOneMenu value="#{prm.tag_name}" editable="true">
									<f:selectItem itemLabel="Seçiniz" itemValue="#{null}"
										noSelectionOption="false" />
									<f:selectItem itemLabel="a" itemValue="a" />
									<f:selectItem itemLabel="div" itemValue="div" />
									<f:selectItem itemLabel="button" itemValue="button" />
									<f:selectItem itemLabel="span" itemValue="span" />
									<f:selectItem itemLabel="label" itemValue="label" />
									<f:selectItem itemLabel="text:LABEL" itemValue="text:LABEL" />
									<f:selectItem itemLabel="INPUT" itemValue="INPUT" />
								</p:selectOneMenu>
							</p:column>
							<p:column headerText="attr_name" width="15%"
								filterBy="#{prm.value}">
								<p:selectOneMenu value="#{prm.attr_name}" editable="true">
									<f:selectItem itemLabel="Seçiniz" itemValue="#{null}"
										noSelectionOption="false" />
									<f:selectItem itemLabel="prev_text" itemValue="prev_text" />
									<f:selectItem itemLabel="textContent" itemValue="textContent" />
									<f:selectItem itemLabel="xpath" itemValue="xpath" />
									<f:selectItem itemLabel="class" itemValue="class" />
								</p:selectOneMenu>
							</p:column>
							<p:column headerText="attr_value" width="50%"
								filterBy="#{prm.value}">
								<p:inputText value="#{prm.attr_value}" label="Attribute Value"
									rendered="#{prm.action_type ne 'Java'}" />
								<p:inputTextarea value="#{prm.attr_value}"
									label="Attribute Value" rendered="#{prm.action_type eq 'Java'}"
									style="max-height: 100px !important;"></p:inputTextarea>
							</p:column>
							<p:column headerText="action_type" width="15%"
								filterBy="#{prm.value}">
								<p:selectOneMenu value="#{prm.action_type}" editable="true">
									<f:selectItem itemLabel="Seçiniz" itemValue="#{null}"
										noSelectionOption="false" />
									<f:selectItem itemLabel="click" itemValue="click" />
									<f:selectItem itemLabel="type" itemValue="type" />
									<f:selectItem itemLabel="Double Click" itemValue="dblClick" />
									<f:selectItem itemLabel="select" itemValue="select" />
									<f:selectItem itemLabel="Java" itemValue="Java" />
								</p:selectOneMenu>
							</p:column>
							<p:column headerText="#{lang.kaldir}" width="10%">
								<p:commandButton icon="ui-icon-trash" partialSubmit="true"
									update="appParamDetList"
									actionListener="#{testStepPageController.deleteParamDetail(prm)}" />

							</p:column>

						</p:dataTable>
					</p:panel>
					<p:panel header="TestCaseList Using This Action">
					
						<p:dataList value="#{testStepPageController.usedTestCaseList}"
							var="d"   style="max-height:300px;">
							<f:facet name="header">
							</f:facet>
							<h:commandLink value="#{d.name}"
								style="color:blue; !important"
								action="/testcase.xhtml?faces-redirect=true"
								actionListener="#{testCaseController.init()}">
								<f:param name="testcase_id" value="#{d.id}" />
							</h:commandLink>
						</p:dataList>

					</p:panel>
				</p:dialog>


				<p:dialog id="assert" widgetVar="assert" width="50%" height="500"
					header="#{lang.newassert}" dynamic="true" showEffect="true"
					responsive="true">
					<p:inputTextarea id="nodeTestDesc"
						placeholder="Oluşturulan test step için açıklama giriniz!!!"
						rows="2" cols="50" value="#{testStepPageController.newParamDesc}"
						label="text">
						<f:ajax execute="@this" render="@this">
						</f:ajax>
					</p:inputTextarea>
					<p:dataTable id="addAssert" var="prm" selectionMode="single"
						selection="#{testStepPageController.selectedAction}"
						rowKey="#{prm.id}" emptyMessage="Veri Bulunamadi"
						style="width:100%;" widgetVar="addAssert"
						value="#{testStepPageController.actionList}" scrollable="true">

						<p:column headerText="Action Description" width="50%"
							filterBy="#{prm.value}">
							<h:outputText value="#{prm.description}" label="Action Name" />
						</p:column>

					</p:dataTable>

					<p:dataTable id="actionElementList" var="prm"
						selectionMode="single"
						selection="#{testStepPageController.selectedAppParam}"
						rowKey="#{prm.id}" emptyMessage="Veri Bulunamadi"
						style="width:100%;" widgetVar="appParamDetList"
						value="#{testStepPageController.appParameters}" scrollable="true">

						<p:column headerText="Element Description" width="50%"
							filterBy="#{prm.page}">
							<h:outputText value="#{prm.description}" label="Action Name" />
						</p:column>

					</p:dataTable>
					<f:facet name="footer">
						<p:commandButton value="#{lang.btnKayit}" id="saveaction"
							style="width:33%;" process="@form"
							oncomplete="PF('assert').hide()" update=":form1:appParamTable"
							actionListener="#{testStepPageController.saveNewAction()}" />
					</f:facet>

				</p:dialog>
			</h:form>
		</div>

	</ui:define>


</ui:composition>