<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="content">
		<style type="text/css">
.highlight1 {
	background: #d6dcd8 !important;
}

/* .noValid { */
/* 	background-color: grey !important; */
/* } */

/* .valid { */
/* 	background-color: grey !important; */
/* } */


</style>
		<f:view contentType="text/html">
		<div class="ui-fluid">
			<h:form id="form1">
				<!--  Test Library Tree -->
				<div class="Container100 Responsive100" style="height: 1200px;">
					<p:panel>
						<f:facet name="header">
                              #{lang.testcasecpt}
                            </f:facet>
						<p:messages id="mss"/>
						<p:panelGrid columns="2"
							columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid"
							styleClass="ui-panelgrid-blank">
							<p:panelGrid styleClass="ui-panelgrid-blank">
								<p:tree id="tcTree" dynamic="true" value="#{testCaseController.root}"
									var="node" editable="true" selectable="true" draggable="true" droppable="true"
									selectionMode="single"
									selection="#{testCaseController.selectedNode}">

									<p:treeNode type="folder" expandedIcon="ui-icon-folder-open"
										collapsedIcon="ui-icon-folder-collapsed">
										<h:outputText value="#{node}" />
									</p:treeNode>
									<p:treeNode type="testcase" icon="ui-icon-document">
										<h:outputText value="#{node}" />
									</p:treeNode>
									<p:treeNode type="testsuite" icon="far fa-file-alt">
										<h:outputText value="#{node}" />
									</p:treeNode>


									<p:ajax event="expand"/>
									<p:ajax event="collapse" />
									<p:ajax event="unselect" process="@this" update="@form"
											listener="#{testCaseController.onRowUnSelect}" />
									<p:ajax event="dragdrop" process="@this" update="@form"
											listener="#{testCaseController.onDragDrop}" />
									<p:ajax event="contextMenu" process="@this"
											listener="#{testCaseController.onRowSelect}" />

									<p:ajax event="select" listener="#{testCaseController.onCaseSelect()}" process="@this" update="@form" />
								</p:tree>
								<!-- 								<p:contextMenu for="tcTree" nodeType="testcase"> -->
								<!-- 									<p:menuitem value="Update Test Case" process="@this" -->
								<!-- 										update="@form" oncomplete="PF('createTestCaseDialog').show()"> -->
								<!-- 									</p:menuitem> -->
								<!-- 																			<p:menuitem value="Delete Test Case" process="@this" -->
								<!-- 																			update="@form" onclick="#{testCaseController.deleteTestCase()}"> -->
								<!-- 																			</p:menuitem> -->
								<!-- 								</p:contextMenu> -->
								<p:contextMenu for="tcTree" nodeType="folder">
									<p:menuitem value="#{lang.newcase}" process="@this"
										update="@form"
										actionListener="#{testCaseController.prepareForNewTestCase()}" />
									<p:menuitem value="#{lang.newfolder}" process="@this"
										update="@form" oncomplete="PF('createFolderDialog').show()" />
									<p:menuitem value="#{lang.renamefolder}" process="@this"
										update="@form" oncomplete="PF('renameFolderDialog').show()" />
									<p:menuitem value="#{lang.deletefolder}" process="@this"
										update="@form"
										actionListener="#{testCaseController.deleteFolder()}">
										<p:confirm header="#{lang.bilgi}" message="#{lang.msgdelete}"
											icon="ui-icon-alert" />
									</p:menuitem>
									<p:menuitem value="#{lang.newsuite}" process="@this"
										update="@form" oncomplete="PF('createTestSuiteDialog').show()"
										actionListener="#{testCaseController.resetSuite()}" />
								</p:contextMenu>
							</p:panelGrid>

							<p:panelGrid id="panelcase"
								rendered="#{testCaseController.testCaseSelect}"
								styleClass="ui-panelgrid-blank" height="800">
								<p:panelGrid columns="3" styleClass="ui-panelgrid-blank">
									<p:commandButton id="savetestcase" value="#{lang.btnKayit}"
										update="@form" process="@form"
										action="#{testCaseController.saveOrUpdateTestCase()}"
										style="margin-top:5px" />
									<p:commandButton rendered="false" id="testTestCase" value="#{lang.test_it}"
										action="#{testExecutionController.testTestCase()}"
										style="margin-top:5px" />
									<p:commandButton value="#{lang.btnSil}"
										actionListener="#{testCaseController.deleteTestCase()}"
										update="@form" process="@parent">
										<p:confirm header="#{lang.bilgi}" message="#{lang.msgdelete}"
											icon="ui-icon-alert" />
									</p:commandButton>

								</p:panelGrid>
								<p:panelGrid id="panelcase1" styleClass="ui-panelgrid-blank">
									<p:panelGrid columns="2" columnsClasses="label,value"
										styleClass="ui-panelgrid-blank">
										<h:outputText value="Test Case Name :" />
										<p:inputText id="nodeTestName" required="true"
											requiredMessage="Please Type Test New Name"
											validatorMessage="Value does not match pattern."
											value="#{testCaseController.testCase.name}" label="text">
											<f:ajax execute="@this" render="@this"></f:ajax>
											<!-- 								<f:validator id="validateSalePrice"/> -->
										</p:inputText>
										<h:outputText value="Description :" />
										<p:inputTextarea id="nodeTestDesc" rows="2" cols="50"
											value="#{testCaseController.testCase.description}"
											label="text">
											<f:ajax execute="@this" render="@this"></f:ajax>
										</p:inputTextarea>
									</p:panelGrid>
									<br />
									<p:panelGrid columns="2" style="margin-bottom:10px"
										cellpadding="5">
										<h:outputLabel>Template Olarak Kullanılacak mı?</h:outputLabel>
										<p:selectBooleanCheckbox
											value="#{testCaseController.testCase.template}">
											<f:ajax execute="@this" render="@this"></f:ajax>
										</p:selectBooleanCheckbox>
										<p:outputLabel for="platform" value="Platform:" />
										<p:selectOneRadio id="platform"
											value="#{testCaseController.testCase.platform}">
											<f:ajax execute="@this" render="@this">
											</f:ajax>
											<f:selectItem itemLabel="ANDROID" itemValue="ANDROID" />
											<!-- 								<f:selectItem itemLabel="IOS" itemValue="IOS" /> -->
											<f:selectItem itemLabel="WEB" itemValue="WEB" />
											<f:selectItem itemLabel="DESKTOP" itemValue="SIKULI" />
										</p:selectOneRadio>

									</p:panelGrid>

									<p:panelGrid styleClass="ui-panelgrid-blank">
										<p:panelGrid columns="3">
											<p:commandButton value="#{lang.btnstepekle}"
												process=":form1:testSteps1" update=":form1:testSteps1"
												oncomplete="PF('AppParamList').show()" />
											<p:commandButton value="#{lang.btnjavacode}"
												update=":form1:java_code_lines :form1:java_code_desc testSteps1"
												actionListener="#{testCaseController.initializeJavaCode()}"
												oncomplete="PF('javaCodeDialog').show()" />
											<p:commandButton value="Test Case Listesi"
												oncomplete="PF('TempTestCaseDialog').show()" />
										</p:panelGrid>
										<p:dataTable id="testSteps1" var="tstep" draggableRows="true"
											rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'highlight1' : 'highlight2'}"
											reflow="true" emptyMessage="#{lang.btnstepekle}"
											sortBy="#{tstep.orderNum}" sortOrder="ascending"
											value="#{testCaseController.testCase.testSteps}"
											scrollHeight="500" rowIndexVar="rowIndex" scrollable="true"
											style="height:500px;"
											filteredValue="#{testCaseController.filterTestStep}">
											<p:ajax event="rowReorder"
												listener="#{testCaseController.reorder}" update="@form"
												process="@none" partialSubmit="true" />
											<p:column headerText="#{lang.btnstepekle}">
												<p:commandButton icon="ui-icon-trash" process="@this"
													width="10%" update="testSteps1" title="Remove"
													actionListener="#{testCaseController.removeTestStep1(tstep)}" />
											</p:column>
											<p:column headerText="#{lang.casedesc}" width="50%">
												<h:graphicImage value="resources/images/keyboard.png"
													style="width:30px; padding-right: 30px;"
													rendered="#{tstep.action_type eq 'type'}" />
												<h:graphicImage value="resources/images/click.png"
													style="width:30px;padding-right: 30px;"
													rendered="#{tstep.action_type eq 'click'}" />
												<h:graphicImage value="resources/images/select.png"
													style="width:30px;padding-right: 30px;"
													rendered="#{tstep.action_type eq 'select'}" />
												<h:graphicImage value="resources/images/java.png"
													style="width:30px;padding-right: 30px;"
													rendered="#{tstep.type eq 'Java'}" />
												<h:graphicImage value="resources/images/template.png"
													style="width:30px;padding-right: 30px;"
													rendered="#{tstep.type eq 'TestCase'}" />
												<h:outputLabel value="#{tstep.description} "></h:outputLabel>
											</p:column>
											<p:column headerText="Default value" width="20%">
												<p:inputText id="tsprmd" label="text"
													value="#{tstep.defaultValue}" placeholder="Default Value"
													rendered="#{tstep.type eq 'TestStep' and (tstep.action_type eq 'type' or tstep.action_type eq 'select' or tstep.action_type eq 'dblClick')}">
													<f:ajax execute="@this" render="@this"></f:ajax>
												</p:inputText>
											</p:column>
											<p:column headerText="#{lang.caseprm}" width="10%">
												<p:inputText id="tsprm" label="text" value="#{tstep.param1}"
													placeholder="Type Parameter!!! $param"
													rendered="#{tstep.type eq 'TestStep' and (tstep.action_type eq 'type' or tstep.action_type eq 'select' or tstep.action_type eq 'dblClick')}">
													<f:ajax execute="@this" render="@this"></f:ajax>
												</p:inputText>
												<p:commandButton icon="ui-icon-search"
													rendered="#{tstep.type eq 'Java'}"
													update=":form1:java_code_lines :form1:java_code_desc"
													action="#{testCaseController.viewUpdateJavaCode(tstep)}"
													oncomplete="PF('javaCodeDialog').show()"></p:commandButton>
												<p:commandButton icon="ui-icon-search"
													rendered="#{tstep.type eq 'TestCase'}"
													action="#{testCaseController.viewTestStepOfTestCase(tstep)}"
													oncomplete="PF('viewTestCaseDialog').show()"></p:commandButton>
												<p:commandButton icon="ui-icon-search"
													rendered="#{tstep.type eq 'REST'}"
													oncomplete="PF('configServiceOfTestCase').show()"></p:commandButton>

											</p:column>
											<p:column>
												<p:commandLink oncomplete="PF('stepValidation').show()"
													actionListener="#{testCaseController.getStepValidationList(tstep)}">
													<h:graphicImage value="resources/images/valid.png" rendered="#{not empty  tstep.stepValidationList}"
														style="width:30px;padding-right: 30px;"  />
														<h:graphicImage value="resources/images/noValid.png" rendered="#{empty  tstep.stepValidationList}"
														style="width:30px;padding-right: 30px;"  />
												</p:commandLink>
											</p:column>

										</p:dataTable>
									</p:panelGrid>
								</p:panelGrid>
							</p:panelGrid>
							<p:panelGrid rendered="#{!testCaseController.testCaseSelect}">
								<p:panelGrid rendered="#{testCaseController.testSuiteSelect}">
									<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
										<p:outputLabel value="Test Suite Adı :" />
										<p:outputLabel value="#{testCaseController.testSuite.name}" />
										<p:commandButton value="Save"
											actionListener="#{testCaseController.saveUpdateSuite}"
											update="@form" process="@parent" />
										<p:commandButton value="Delete"
											actionListener="#{testCaseController.deleteSuite}"
											update="@form" process="@parent">
											<p:confirm header="#{lang.bilgi}" message="#{lang.msgdelete}"
												icon="ui-icon-alert" />
										</p:commandButton>
									</p:panelGrid>
									<p:fieldset>
										<p:pickList id="tcasepicklist"
											value="#{testCaseController.dualCaseList}" var="tcase"
											effect="bounce" converter="caseConverter"
											itemValue="#{tcase}" itemLabel="#{tcase.name}"
											showSourceControls="true" showTargetControls="true"
											responsive="true" showSourceFilter="true"
											showTargetFilter="true" filterMatchMode="contains"
											showCheckbox="true">
											<f:facet name="sourceCaption">Mevcut Test Cases</f:facet>
											<f:facet name="targetCaption">İstenen Test Cases</f:facet>
											<p:ajax event="transfer"
												listener="#{testCaseController.onTransfer}" />
											<p:column style="width:90%;">
												<h:outputText value="#{tcase.name}" />
											</p:column>
										</p:pickList>
									</p:fieldset>
								</p:panelGrid>
								<p:panelGrid rendered="#{!testCaseController.testSuiteSelect}">
									<h:outputText
										value="Lütfen Test Case Ya da Test Suite  Seçiniz"/>
								</p:panelGrid>
							</p:panelGrid>

						</p:panelGrid>
					</p:panel>
				</div>
				<p:dialog id="createFolderDialog" widgetVar="createFolderDialog"
					header="Yeni Klasör" dynamic="true" width="200" responsive="true"
					showEffect="explode" >
					<p:column colspan="2" headerText="NewName" width="50%">
						<p:outputLabel>Klasör Adı</p:outputLabel>
						<p:inputText id="nodeName1" required="true"
							requiredMessage="Please Type Folder Name"
							value="#{testCaseController.folderName}" label="text" />
					</p:column>
					<p:column colspan="2" headerText="Role" width="50%">
						<p:outputLabel>Rol </p:outputLabel>
						<p:selectOneMenu id="role" value="#{testCaseController.userRoles}">
							<f:selectItem itemLabel="Seçiniz" itemValue="" />
							<f:selectItems value="#{testCaseController.listRoles}" var="role"
								itemLabel="#{role.user_roles}" itemValue="#{role.id}" />
						</p:selectOneMenu>
					</p:column>
					<p:commandButton id="createF" value="#{lang.btnKayit}"
						oncomplete="PF('createFolderDialog').hide()" update="@form"
						process="@parent" action="#{testCaseController.createNewFolder()}"
						style="margin-top:5px" />
				</p:dialog>
				<p:dialog id="renameFolderDialog" widgetVar="renameFolderDialog"
					header="Klasör Adlandırma" responsive="true" dynamic="true"
					width="200">
					<p:column headerText="NewName" width="35%">
						<p:inputText id="nodeName" required="true"
							requiredMessage="Please Type Folder New Name"
							value="#{testCaseController.newFolderName}" label="text" />
					</p:column>
					<p:commandButton id="renameFolder" value="Save"
						oncomplete="PF('renameFolderDialog').hide()" update="@form"
						process="@parent" action="#{testCaseController.renameFolder()}"
						style="margin-top:5px" />
				</p:dialog>


				<p:dialog id="AppParamList" widgetVar="AppParamList"
					header="Test Objects" responsive="true" width="1200"
					showEffect="explode">
					<p:selectOneMenu style="width:180px;"
						value="#{testStepPageController.stepPage}">
						<f:selectItem itemLabel="Select One" />
						<f:selectItems value="#{testStepPageController.pagesFilter}"
							var="c" itemLabel="#{c}" itemValue="#{c}" />
						<p:ajax event="change" update="testObjects"
							listener="#{testStepPageController.pageFilterChange()}" />
					</p:selectOneMenu>


					<p:dataTable id="testObjects" widgetVar="testObjects" var="obj"
						draggableRows="true" reflow="true"
						emptyMessage="#{lang.btnstepekle}"
						value="#{testStepPageController.appParameters}" rowKey="#{obj.id}"
						selectionMode="single"
						selection="#{testStepPageController.selectedAppParam}">
						<p:column>
							<p:outputLabel value="#{obj.page}"/>
						</p:column>

						<p:column>
							<p:outputLabel value="#{obj.description}"/>
						</p:column>
						<p:column>
							<p:outputLabel value="#{obj.type}"/>
						</p:column>
						 						<p:column>
						 							<p:commandButton value="Add"
						 								action="#{testCaseController.addTestStep(obj)}"
						 								oncomplete="PF('AppParamList').hide()"
						 								update=":form1:testSteps1"/>
						 						</p:column>

						<!--<p:ajax event="rowSelect" process="@form"
								listener="#{testCaseController.addTestStep}"
								oncomplete="PF('AppParamList').hide()" update=":form1:testSteps1" />
                         -->
					</p:dataTable>

					<p:dataTable id="testServices" widgetVar="testServices" var="obj"
						draggableRows="true" reflow="true"
						emptyMessage="#{lang.btnstepekle}"
						value="#{testStepPageController.requestList}" rowKey="#{obj.id}"
						selectionMode="single"
						selection="#{testStepPageController.request}">
						<p:ajax event="rowSelect"
							listener="#{testCaseController.addTestStepForRest}"
							oncomplete="PF('AppParamList').hide()" update=":form1:testSteps1" />
						<!-- 						<p:column headerText="Page" width="15%" filterBy="#{obj.page}"> -->
						<!-- 							<f:facet name="filter"> -->
						<!-- 								<p:selectOneMenu onchange="PF('testObjects').filter()"> -->
						<!-- 									<f:selectItem itemLabel="Select One" /> -->
						<!-- 									<f:selectItems value="#{testStepPageController.pagesFilter}" /> -->
						<!-- 								</p:selectOneMenu> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:outputLabel value="#{obj.page}"></p:outputLabel> -->
						<!-- 						</p:column> -->
						<p:column>
							<p:outputLabel value="#{obj.url}"></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{obj.description}"></p:outputLabel>
						</p:column>
						<p:column>
							<p:outputLabel value="#{obj.type}"></p:outputLabel>
						</p:column>
						<!-- 						<p:column> -->
						<!-- 							<p:commandButton value="Add" -->
						<!-- 								actionListener="testCaseController.addTestStep()" -->
						<!-- 								oncomplete="PF('AppParamList').hide()" -->
						<!-- 								update=":form1:testSteps1"></p:commandButton> -->
						<!-- 						</p:column> -->

					</p:dataTable>

				</p:dialog>
				<p:dialog id="javaCodeDialog" widgetVar="javaCodeDialog"
					header="Java Code" responsive="true" width="1800" height="800"
					showEffect="explode">
					<p:panelGrid columns="2" columnsClasses="label,value"
						styleClass="ui-panelgrid-blank">
						<h:outputLabel>Description: </h:outputLabel>
						<h:inputText id="java_code_desc"
							value="#{testCaseController.selectedAppParam.description}"
							required="false" requiredMessage="Java code açıklması buraya"
							maxlength="90" />
						<h:outputLabel>Functions : </h:outputLabel>
						<p:panelGrid columns="10" columnsClasses="label,value"
							styleClass="ui-panelgrid-blank">
							<p:splitButton value="Asserts">
								<p:menuitem value="Assert Equals" update="java_code_lines"
									actionListener="#{testCaseController.addAssertEquals()}" />
								<p:menuitem value="Assert Exist" update="java_code_lines"
									actionListener="#{testCaseController.addAssertExist()}" />
								<p:menuitem value="Assert True" update="java_code_lines"
									actionListener="#{testCaseController.addAssertTrue()}" />
								<p:menuitem value="Assert That" update="java_code_lines"
									actionListener="#{testCaseController.addAssertThat()}" />
							</p:splitButton>
							<p:commandButton value="Press Enter" process="@form"
								update="java_code_lines"
								actionListener="#{testCaseController.sendEnterKey()}" />
							<p:commandButton value="Sleep" process="@form"
								update="java_code_lines"
								actionListener="#{testCaseController.threadSleep()}" />
							<p:commandButton value="Element List"
								oncomplete="PF('selectListWebElement').show()" />
							<p:commandButton value="Execute SQL" update="java_code_lines"
								actionListener="#{testCaseController.executeSQL()}" />
							<p:commandButton value="Set Parameter" update="java_code_lines"
								actionListener="#{testCaseController.setParameter()}" />
							<p:commandButton value="Get Parameter" update="java_code_lines"
								actionListener="#{testCaseController.getParameterFromTestCase()}" />
							<p:commandButton value="Get SelectBoxText"
								update="java_code_lines"
								actionListener="#{testCaseController.getSelectBoxText()}" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="2">
						<p:panelGrid columns="2">
							<h:outputLabel>Java Code </h:outputLabel>

							<h:inputTextarea id="java_code_lines" rows="15" cols="90"
								style="background: #ccebff !important;"
								value="#{testCaseController.selectedAppDet.attr_value}"
								placeholder="Java code buraya" />

						</p:panelGrid>
						<p:panelGrid columns="2">
							<h:outputLabel>WebDriver driver</h:outputLabel>
							<h:outputLabel>driver property ayarları yapılabilir.</h:outputLabel>
							<h:outputLabel>smartest.getMap().put("","");</h:outputLabel>
							<h:outputLabel>Değişkenleri başka steplerde kullanmak için kullanılabilir.</h:outputLabel>
							<h:outputLabel>smartest.getParamValue("");</h:outputLabel>
							<h:outputLabel>Test Case Property'lere atama yapılabilir.</h:outputLabel>
							<h:outputLabel>executeSql("");</h:outputLabel>
							<h:outputLabel>SQL koşturulması için kullanılabilir.</h:outputLabel>
							<h:outputLabel>driver.getCurrentUrl();</h:outputLabel>
							<h:outputLabel>Mevcut Url bilgisini döner</h:outputLabel>
							<h:outputLabel>webElement.getText();</h:outputLabel>
							<h:outputLabel>Web elemanın içeriğini döner.</h:outputLabel>
						</p:panelGrid>
					</p:panelGrid>


					<f:facet name="header">
						<p:commandButton value="Save"
							action="#{testCaseController.saveJavaCode()}"
							oncomplete="PF('javaCodeDialog').hide()"
							update=":form1:testSteps1" process="@form" />

					</f:facet>
				</p:dialog>
				<p:dialog id="selectListWebElement" widgetVar="selectListWebElement"
					header="Select Web Element" responsive="true" width="500px"
					emptyMessage="#{lang.btnstepekle}" hideEffect="bounce">
					<p:dataTable var="temptc"
						value="#{testStepPageController.appParameters}"
						selection="#{testCaseController.selectedListWebElement}"
						selectionMode="single" rowKey="#{temptc.id}" reflow="true"
						style="width:100%;">
						<p:ajax event="rowSelect"
							listener="#{testCaseController.onRowSelectAppParameter}"
							oncomplete="PF('selectListWebElement').hide()"
							update=":form1:java_code_lines" />
						<p:column headerText="#{lang.testcasename}">
							<h:outputText value="#{temptc.description}" />
						</p:column>
					</p:dataTable>
				</p:dialog>
				<p:dialog id="TempTestCaseDialog" widgetVar="TempTestCaseDialog"
					header="Test Case Listesi" responsive="true" width="500"
					showEffect="explode">
					<h:outputText value="TestCase Editlenecek mi? :" />
					<p:selectBooleanCheckbox
						value="#{testCaseController.tempTcEditable}" />
					<p:dataTable id="tempTC" var="temptc"
						value="#{testCaseController.tempTestCaseList}"
						selection="#{testCaseController.tempSelectTestCase}"
						selectionMode="single" rowKey="#{temptc.id}" reflow="true"
						style="width:100%;"
						filteredValue="#{testCaseController.tempTCFilter}">
						<p:ajax event="rowSelect"
							listener="#{testCaseController.onRowSelectCase}"
							oncomplete="PF('TempTestCaseDialog').hide()"
							update=":form1:testSteps1" />
						<p:ajax event="rowUnselect"
							listener="#{testCaseController.onRowUnselectCase}"
							update=":form1:mss" />
						<p:column headerText="id" visible="false">
							<h:outputText value="#{temptc.id}" />
						</p:column>
						<p:column headerText="#{lang.testcasename}"
							filterBy="#{temptc.description}">
							<h:outputText value="#{temptc.description}" />
						</p:column>
						<p:column headerText="#{lang.url}" filterBy="#{temptc.folderUrl}">
							<h:outputText value="#{temptc.folderUrl}" />
						</p:column>
						<p:column headerText="detail">
							<p:commandButton icon="ui-icon-search"
								oncomplete="PF('viewTestCaseDialog').show()"></p:commandButton>
						</p:column>
					</p:dataTable>

					<p:dataTable id="TempRestDialog" var="rest"
						value="#{testCaseController.requestList}"
						selection="#{testCaseController.selectedRequest}"
						selectionMode="single" rowKey="#{rest.id}" reflow="true"
						style="width:100%;">
						<p:ajax event="rowSelect"
							listener="#{testCaseController.onRowSelectRest}"
							oncomplete="PF('TempTestCaseDialog').hide()"
							update=":form1:testSteps1" />
						<!-- 						<p:ajax event="rowUnselect" -->
						<!-- 							listener="#{testCaseController.onRowUnselectRest}" -->
						<!-- 							update=":form1:mss" /> -->
						<p:column headerText="id" visible="false">
							<h:outputText value="#{rest.id}" />
						</p:column>
						<p:column headerText="Service Description">
							<h:outputText value="#{rest.description}" />
						</p:column>
						<!-- 						<p:column headerText="detail"> -->
						<!-- 							<p:commandButton icon="ui-icon-search" -->
						<!-- 								oncomplete="PF('viewRestDialog').show()"></p:commandButton> -->
						<!-- 						</p:column> -->
					</p:dataTable>
				</p:dialog>

				<p:dialog widgetVar="configServiceOfTestCase"
					header="Servis Konfigürasyon" responsive="true" dynamic="true"
					width="700">
					<!-- 					<p:dataTable var="var" draggableRows="true" reflow="true" -->
					<!-- 						emptyMessage="#{lang.btnstepekle}" -->
					<!-- 						value="#{testCaseController.testCase.testCaseVariables}"> -->
					<!-- 						<p:column headerText="Varible"> -->
					<!-- 							<h:outputText value="#{var.key}" /> -->
					<!-- 						</p:column> -->
					<!-- 						<p:column headerText="Value"> -->
					<!-- 							<h:outputText value="#{var.value}" /> -->
					<!-- 						</p:column> -->
					<!-- 					</p:dataTable> -->
					<!-- 					<p:commandButton value="Save" -->
					<!-- 						action="#{testCaseController.saveTestCaseVariable}" -->
					<!-- 						oncomplete="PF('configServiceOfTestCase').hide()" -->
					<!-- 						 process="@form" /> -->
					<!-- 					<ui:repeat id="dataList" -->
					<!-- 						value="#{testCaseController.serviceVariableMap.entrySet().toArray()}" -->
					<!-- 						var="entry"> -->
					<!-- 						<p:panel> -->
					<!-- 							<p:panelGrid columns="2"> -->
					<!-- 								<p:outputLabel value="#{entry.key}"></p:outputLabel> -->
					<!-- 								<p:inputText value="#{entry.value}"></p:inputText> -->
					<!-- 							</p:panelGrid> -->
					<!-- 						</p:panel> -->
					<!-- 					</ui:repeat> -->
					<h:inputTextarea rows="20"
						value="#{testStepPageController.request.request_text}"
						style="width:100%"></h:inputTextarea>
				</p:dialog>
				<p:dialog widgetVar="viewTestCaseDialog"
					header="Test Case Görüntüleme" responsive="true" dynamic="true"
					width="700">

					<p:panelGrid styleClass="ui-panelgrid-blank">
						<p:panelGrid columns="2" columnsClasses="label,value"
							styleClass="ui-panelgrid-blank">
							<h:outputText value="Test Case Name :" />
							<h:outputText required="true"
								requiredMessage="Please Type Test New Name"
								value="#{testCaseController.testCaseView.name}" label="text">
							</h:outputText>
							<h:outputText value="Description :" />
							<p:inputTextarea rows="2" cols="50"
								value="#{testCaseController.testCaseView.description}"
								label="text">
							</p:inputTextarea>
							<h:outputLabel>Template Olarak Kullanılacak mı?</h:outputLabel>
							<p:selectBooleanCheckbox
								value="#{testCaseController.testCaseView.template}">
							</p:selectBooleanCheckbox>
						</p:panelGrid>

						<p:panelGrid columns="2" style="margin-bottom:10px"
							cellpadding="5">
							<p:outputLabel for="platform" value="Platform:" />
							<p:selectOneRadio
								value="#{testCaseController.testCaseView.platform}">
								<f:ajax execute="@this" render="@this">
								</f:ajax>
								<f:selectItem itemLabel="ANDROID" itemValue="ANDROID" />
								<f:selectItem itemLabel="IOS" itemValue="IOS" />
								<f:selectItem itemLabel="WEB" itemValue="WEB" />
							</p:selectOneRadio>
						</p:panelGrid>

						<p:panelGrid styleClass="ui-panelgrid-blank">
							<p:panelGrid columns="4">
								<p:inputTextarea
									value="#{testCaseController.testCaseView.open_page}" cols="40"
									rows="1">
									<f:ajax execute="@this" render="@this"></f:ajax>
								</p:inputTextarea>
							</p:panelGrid>
							<p:dataTable var="tvstep" draggableRows="true" reflow="true"
								emptyMessage="#{lang.btnstepekle}"
								value="#{testCaseController.testCaseView.testSteps}"
								filteredValue="#{testCaseController.filterTestStep}">

								<p:column headerText="#{lang.casedesc}" width="70%"
									filterBy="#{aprm.page}">
									<h:outputLabel
										value="#{tvstep.action_type} - #{tvstep.description} "></h:outputLabel>
								</p:column>
								<p:column headerText="#{lang.caseprm}" width="30%">
									<p:inputText label="text" value="#{tvstep.param1}"
										rendered="#{tvstep.type eq 'TestStep' and (tvstep.action_type eq 'type' or tvstep.action_type eq 'select'  or tvstep.action_type eq 'dblClick') }">
										<f:ajax execute="@this" render="@this"></f:ajax>
									</p:inputText>
									<p:commandButton icon="ui-icon-search"
										rendered="#{tvstep.type eq 'Java'}"
										update=":form1:javaCodeDialog"
										actionListener="#{testCaseController.viewUpdateJavaCode(tvstep)}"
										oncomplete="PF('javaCodeDialog').show()"></p:commandButton>
									<p:commandButton icon="ui-icon-search"
										rendered="#{tvstep.type eq 'TestCase'}"
										actionListener="#{testCaseController.viewTestStepOfTestCase(tvstep)}"
										oncomplete="PF('viewTestCaseDialog').show()"></p:commandButton>
								</p:column>
							</p:dataTable>
						</p:panelGrid>
					</p:panelGrid>
				</p:dialog>
				<!-- 								<p:dialog id="allPropertiesForOutput" -->
				<!-- 					widgetVar="allPropertiesForOutput" header="Property Listesi" -->
				<!-- 					responsive="true" width="500" -->
				<!-- 					hideEffect="bounce"> -->

				<!-- 					<p:dataTable id="allPropertiesForOutputTable2" var="pg" -->
				<!-- 						value="#{testExecutionController.allPropertiesForOutput}" -->
				<!-- 						selection="#{testCaseController.selectedPropertyGroup}" -->
				<!-- 						selectionMode="single" rowKey="#{pg.id}" reflow="true" -->
				<!-- 						style="width:100%;"> -->
				<!-- 						<p:ajax event="rowSelect" -->
				<!-- 							listener="#{testCaseController.onRowSelectPropertyGroup}" -->
				<!-- 							oncomplete="PF('testCasePropertiesForOutput').show()" -->
				<!-- 							update=":form1:allPropertiesForOutputTable3" /> -->
				<!-- 						<p:column headerText="TestCase Name"> -->
				<!-- 							<h:outputText value="#{pg.testCase.name}" /> -->
				<!-- 						</p:column> -->
				<!-- 						<p:column headerText="Description"> -->
				<!-- 							<h:outputText value="#{pg.description}" /> -->
				<!-- 						</p:column> -->
				<!-- 					</p:dataTable> -->
				<!-- 				</p:dialog> -->


				<p:dialog id="stepValidation" widgetVar="stepValidation"
					header="Validation Page" responsive="true" width="500"
					showEffect="explode">

					<p:commandButton value="Add Validation"
						actionListener="#{testCaseController.addValidation}"
						update="validation" process="@parent"></p:commandButton>

					<p:dataTable id="validation" var="sv"
						value="#{testCaseController.selectedValidationList}"
						selectionMode="single" rowKey="#{sv.id}" reflow="true"
						style="width:100%;">

						<p:column headerText="Delete">
							<p:commandButton value="Delete"
								actionListener="#{testCaseController.deleteValidation(sv)}"
								update="validation"></p:commandButton>
						</p:column>
						<p:column headerText="Element">
							<p:inputText value="#{tp.description}" />
						</p:column>
						<p:column headerText="Key">
							<p:inputText value="#{tp.key}" />
						</p:column>
						<p:column headerText="Value">
							<p:inputText value="#{tp.value}" />
						</p:column>
					</p:dataTable>
				</p:dialog>


				<p:dialog id="createTestSuiteDialog"
					widgetVar="createTestSuiteDialog" header="Yeni Test Suite"
					responsive="true" dynamic="true" width="800" hideEffect="bounce">
					<h:form>
						<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
							<p:outputLabel value="Test Suite Adı :" />
							<p:inputText value="#{testCaseController.testSuite.name}"
								required="true" requiredMessage="Test Suite Adı Giriniz" />
							<p:commandButton value="Save"
								action="#{testCaseController.saveUpdateSuite}"
								oncomplete="PF('createTestSuiteDialog').hide()" update="@form"
								process="@parent" />
							<h:inputHidden value="" />
						</p:panelGrid>
						<p:pickList id="tcasepicklist"
							value="#{testCaseController.dualCaseList}" var="tcase"
							effect="bounce" converter="caseConverter" itemValue="#{tcase}"
							itemLabel="#{tcase.name}" showSourceControls="true"
							showTargetControls="true" responsive="true"
							showSourceFilter="true" showTargetFilter="true">
							<f:facet name="sourceCaption">Mevcut Test Cases</f:facet>
							<f:facet name="targetCaption">İstenen Test Cases</f:facet>
							<p:ajax event="transfer"
								listener="#{testCaseController.onTransfer}" />
							<p:column style="width:90%;">
								<h:outputText value="#{tcase.name}" />
							</p:column>
						</p:pickList>
					</h:form>
				</p:dialog>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Yes" styleClass="ui-confirmdialog-yes"
						icon="ui-icon-check" />
					<p:commandButton value="No" styleClass="ui-confirmdialog-no"
						icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</div>
		</f:view>
	</ui:define>
</ui:composition>