<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="WEB-INF/template/template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">



	<ui:define name="content">
		<style type="text/css">
.topAligned {
	vertical-align: top;
}
</style>


		<h:form id="form1">
			<p:messages id="mss"></p:messages>

			<p:panelGrid columns="3" columnClasses="topAligned">
				<f:facet name="header">
					#{lang.menutstexec}
				</f:facet>
				<p:panel columnClasses="topAligned">
					<p:outputLabel value="#{lang.avatcts}" />
					<p:tree id="tcTree" value="#{testExecutionController.root}"
						var="node" widgetVar="Available Test Suite" draggable="true"
						droppable="true" selectionMode="single" dragdropScope="demo"
						selection="#{testExecutionController.selectedNode}"
						filterBy="#{node}">
						<p:ajax event="expand" />
						<p:ajax event="collapse" />
						<p:ajax event="select" process="@this" update="@form"
							listener="#{testExecutionController.onRowSelect()}" />
						<p:ajax event="unselect" process="@this" update="@form"
							listener="#{testExecutionController.onRowUnSelect}" />
						<p:ajax event="contextMenu" process="@this"
							listener="#{testExecutionController.onRowSelect}" />
						<p:treeNode type="folder" expandedIcon="ui-icon-folder-open"
							collapsedIcon="ui-icon-folder-collapsed">
							<h:outputText value="#{node}" />
						</p:treeNode>

						<p:treeNode type="testcase" icon="ui-icon-document">
							<h:outputText value="#{node}" />
						</p:treeNode>

						<p:treeNode type="testsuite" icon="far fa-file-alt">
							<h:outputText value="#{node}" />
						</p:treeNode>

					</p:tree>
					<p:contextMenu for="tcTree">
						<p:menuitem value="Add To Execution List" process="@this"
							update="@form"
							actionListener="#{testExecutionController.addToExec}">
						</p:menuitem>
					</p:contextMenu>
				</p:panel>
				<p:panel columnClasses="topAligned">
					<p:panelGrid id="panelcase" styleClass="ui-panelgrid-blank"
						columns="1">
						<p:fieldset>
							<p:outputLabel value="#{lang.setcts}" />
							<p:tree id="tcTreeExec"
								value="#{testExecutionController.rootExec}" var="node"
								draggable="true" droppable="true" selectionMode="single"
								widgetVar="Selected Test Suite"
								selection="#{testExecutionController.selectedNodeExec}"
								dragdropScope="demo">
								<p:ajax event="expand" />
								<p:ajax event="collapse" />
								<p:ajax event="dragdrop" process="@this"
									update=":form1:testCaseProperty"
									listener="#{testExecutionController.onDragDrop()}" />
								<!-- 						                  <p:ajax event="rowDblselect" process="@this" update="@form" listener="#{testExecutionController.onDragDrop}"  /> -->
								<p:ajax event="select" process="@this"
									update=":form1:testCaseProperty"
									listener="#{testExecutionController.onRowSelect2()}" />
								<p:ajax event="contextMenu" process="@this"
									listener="#{testExecutionController.onRowSelect()}" />
								<p:treeNode type="folder" expandedIcon="ui-icon-folder-open"
									collapsedIcon="ui-icon-folder-collapsed">
									<h:outputText value="#{node}" />
								</p:treeNode>

								<p:treeNode type="testcase" icon="ui-icon-document">
									<h:outputText value="#{node}" />
								</p:treeNode>

								<p:treeNode type="testsuite" icon="far fa-file-alt">
									<h:outputText value="#{node}" />
								</p:treeNode>


							</p:tree>
							<p:contextMenu for="tcTreeExec" nodeType="testcase">
								<p:menuitem value="Remove From Execution List" process="@this"
									update="@form"
									action="#{testExecutionController.removeFromExec}">
								</p:menuitem>
							</p:contextMenu>
						</p:fieldset>

						<p:fieldset>
							<p:outputLabel for="brws" value="#{lang.browser}   :" />
							<p:selectOneMenu id="brws"
								value="#{testExecutionController.browser}" style="width:100%">
								<f:selectItem itemLabel="Seçiniz" itemValue="" />
								<f:selectItems value="#{testExecutionController.listBrowser}"
									var="s" itemLabel="#{s.description}"
									itemValue="#{s.description}" />

							</p:selectOneMenu>
						</p:fieldset>

						<p:fieldset>
							<p:outputLabel value="Environment:" />
							<p:selectOneRadio id="env"
								value="#{testExecutionController.environment}">
								<f:ajax execute="@this" render="@this">
								</f:ajax>
								<f:selectItem itemLabel="Local" itemValue="Local" />
								<f:selectItem itemLabel="Server" itemValue="Server" />
								<f:selectItem itemLabel="Download" itemValue="Download" />
							</p:selectOneRadio>
						</p:fieldset>
						<p:fieldset>
							<p:outputLabel for="interval" value="Interval" />
							<p:selectOneRadio id="interval"
								value="#{testExecutionController.interval}">
								<f:ajax execute="@this" render="@this">
								</f:ajax>
								<f:selectItem itemLabel="Immediately" itemValue="Immediately" />
								<f:selectItem itemLabel="ALLWAYS" itemValue="ALLWAYS" />
								<f:selectItem itemLabel="Daily" itemValue="Daily" />
								<f:selectItem itemLabel="Weekly" itemValue="Weekly" />
							</p:selectOneRadio>
						</p:fieldset>
						<p:fieldset>
							<p:outputLabel for="datetime" value="Datetime:" />
							<p:calendar id="datetime"
								mindate="#{testExecutionController.currentDate}"
								value="#{testExecutionController.executeDateTime}"
								pattern="dd/MM/yyyy HH:mm:ss" />
						</p:fieldset>
						<p:fieldset>
							<p:outputLabel for="OpenPage" value="Start URL" />
							<h:inputText id="OpenPage"
								value="#{testExecutionController.startURL}"></h:inputText>
						</p:fieldset>
						<br />
						<p:panelGrid columns="3">
							<p:commandButton value="Schedule"
								actionListener="#{testExecutionController.schedule}"
								update="@form" process="@form">
							</p:commandButton>

							<p:commandButton value="Test"
								actionListener="#{testExecutionController.test}" update="@form"
								process="@form">
							</p:commandButton>
						</p:panelGrid>
						<p:panelGrid columns="2">
							<h:outputLabel>Save as Test Suite:</h:outputLabel>
							<p:selectBooleanButton id="value1"
								value="#{testExecutionController.saveAstestSuite}" onLabel="Yes"
								offLabel="No" style="width:60px">
								<p:ajax update="@form" />
							</p:selectBooleanButton>
							<p:inputText
								rendered="#{testExecutionController.saveAstestSuite}"
								value="#{testExecutionController.testSuiteName}"></p:inputText>
							<p:commandButton value="Save as TestSuite"
								actionListener="#{testExecutionController.saveListAsTestSuitee()}"></p:commandButton>
						</p:panelGrid>
					</p:panelGrid>
				</p:panel>
				<p:panel columnClasses="topAligned">
					<p:panelGrid columns="1" columnClasses="topAligned">
						<!-- 								<p:outputLabel -->
						<!-- 									value="#{testExecutionController.propertyGroupCatalog.description}"></p:outputLabel> -->
						<p:dataTable id="testCaseProperty" widgetVar="testCaseProperty"
							var="obj" draggableRows="true" reflow="true"
							emptyMessage="#{lang.btnstepekle}"
							value="#{testExecutionController.propertyGroup.testCasePropertyList}"
							rowKey="#{obj.id}" selectionMode="single"
							selection="#{testExecutionController.selectedProperty}"
							columnClasses="topAligned">

							<p:column headerText="Description">
								<h:outputText value="#{obj.description}"></h:outputText>
							</p:column>
							<p:column headerText="Key">
								<h:outputText value="#{obj.key}"></h:outputText>
							</p:column>
							<p:column headerText="Value">
								<p:inputText value="#{obj.value}"></p:inputText>
								<p:commandButton icon="ui-icon-search"
									oncomplete="PF('allPropertiesForOutput').show()">
									<f:setPropertyActionListener value="#{obj}"
										target="#{testExecutionController.selectedProperty}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="Another Source">
								<p:outputLabel value="#{obj.sourceStr}"></p:outputLabel>
							</p:column>
						</p:dataTable>
						<f:facet name="footer">
							<p:commandButton value="Save Property Group"
								actionListener="#{testExecutionController.saveAsPropertyGroup}"></p:commandButton>
						</f:facet>
					</p:panelGrid>

				</p:panel>
			</p:panelGrid>



			<p:dialog id="allPropertiesForOutput"
				widgetVar="allPropertiesForOutput" header="Property Listesi"
				responsive="true" width="500" showEffect="explode"
				hideEffect="bounce">

				<p:dataTable id="allPropertiesForOutputTable2" var="tcs"
					value="#{testExecutionController.allPropertiesForOutput}"
					selection="#{testExecutionController.toPropertyGroupPG}"
					selectionMode="single" rowKey="#{tcs.id}" reflow="true"
					style="width:100%;">
					<p:ajax event="rowSelect"
						listener="#{testExecutionController.onRowSelectPropertyGroup}"
						oncomplete="PF('testCasePropertiesForOutput').show()"
						update=":form1:allPropertiesForOutputTable3" />
					<p:column headerText="TestCase Name">
						<h:outputText value="#{tcs.testCase.name}" />
					</p:column>
					<p:column headerText="Description">
						<h:outputText value="#{tcs.description}" />
					</p:column>
				</p:dataTable>
			</p:dialog>


			<p:dialog id="testCasePropertiesForOutput"
				widgetVar="testCasePropertiesForOutput"
				header="TestCase Property Listesi" responsive="true" width="500"
				showEffect="explode" hideEffect="bounce">

				<p:dataTable id="allPropertiesForOutputTable3" var="prop"
					value="#{testExecutionController.propertyListForOutput}"
					selectionMode="single" rowKey="#{prop.id}" reflow="true"
					style="width:100%;">
					<p:ajax event="rowSelect"
						listener="#{testExecutionController.onRowSelectProperty}"
						oncomplete="PF('testCasePropertiesForOutput').hide();PF('allPropertiesForOutput').hide()"
						update=":form1:testCaseProperty" />
					<p:column headerText="Description">
						<h:outputText value="#{prop.description}" />
					</p:column>
					<p:column headerText="Key">
						<h:outputText value="#{prop.key}" />
					</p:column>
					<p:column headerText="Value">
						<h:outputText value="#{prop.value}" />
					</p:column>

				</p:dataTable>
			</p:dialog>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>


	</ui:define>


</ui:composition>