<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="WEB-INF/template/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    
    
    <ui:define name="content" >
       
        
            <div class="ui-fluid">

                <h:form id="form1" >          
                    <div class="Container100 Responsive100" style="height: 600px;">
                        <p:panel>
                        
                       
                            <f:facet name="header" >
                              #{lang.urllistcpt}
                            </f:facet>

							  <p:messages id="mss"></p:messages>
                             
                          <p:fieldset> 
                            <p:panelGrid columns="3" id="panel"  columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
                               
                                <p:outputLabel for="pagename" value="#{lang.pagename}"/>                            
                                <p:inputText id="pagename" value="#{urllistController.pu.page}"  required="true" requiredMessage="Zorunlu Alan"  />                              
                                <p:commandButton  id="saveElementBtn"   value="#{lang.urllistbtn}" style="width: 70%;"  
                                actionListener="#{urllistController.saveElementList()}" process="@form" update="urlList"  >
<!--                                 <f:ajax listener="#{urllistController.saveElementList}" process="@form" update="urlList"   /> -->
                                </p:commandButton>
                                

                                <p:outputLabel for="url" value="#{lang.url}" />
                                <p:inputText id="url" value="#{urllistController.pu.url}"  required="true" requiredMessage="Zorunlu Alan"  />                              
                                 <p:commandButton id="resetButton" value="#{lang.resetbtn}" actionListener="#{urllistController.reset}" update="panel"  style="width: 70%;"
									process="@this">
							        <p:resetInput target="panel" />
						        </p:commandButton>
						        
						        <p:outputLabel for="ent" value="#{lang.ortamturu}" />                            
                                <p:selectOneMenu id="ent" value="#{urllistController.pu.environmentType}" 
                                                 required="true" requiredMessage="Zorunlu"  style="width:50%" >
                                    <f:selectItem  itemLabel="Web" itemValue="Web" />
                                    <f:selectItem  itemLabel="Android" itemValue="Android" />
                                    <f:selectItem  itemLabel="IOS" itemValue="IOS" />
                                </p:selectOneMenu>
                              
                                <h:inputHidden />
						        
						        
                               
                            </p:panelGrid> 
                          </p:fieldset> 
                          
                          <p:fieldset>
                          
                           <p:dataTable  id="urlList" var="preparedUrl" emptyMessage="Veri Bulunamadı" selectionMode="single"
							 style="width:100%;" reflow="true" filteredValue="#{urllistController.filterUrls}"
							 value="#{urllistController.urls}" scrollable="true"
							 scrollHeight="200"  selection="#{urllistController.selectedUrl}" rowKey="#{preparedUrl.page}">   >
							 
							  <p:ajax event="rowSelect" update=":form1:panel"  process="@this" />
                               
							 
							<p:column headerText="#{lang.kaldir}" style="text-align: center"
								width="15%">
								<p:commandButton update="urlList" icon="ui-icon-trash"	actionListener="#{urllistController.deleteUrl(preparedUrl)}"								
								 process="@this" 	>
								       <p:confirm header="#{lang.bilgi}" message="#{lang.msgdelete}" icon="ui-icon-alert" />
								</p:commandButton>
							</p:column>
							
							<p:column headerText="#{lang.pagename}" style="text-align: center"
								width="37%" filterBy="#{preparedUrl.page}">
								<h:outputLabel value="#{preparedUrl.page}"></h:outputLabel>
							</p:column>
							<p:column headerText="#{lang.url}" style="text-align: center"
								width="37%"  filterBy="#{preparedUrl.url}">
								<h:outputLabel value="#{preparedUrl.url}"></h:outputLabel>
							</p:column>
							<p:column headerText="#{lang.ortamturu}" style="text-align: center"
								width="15%"  filterBy="#{preparedUrl.environmentType}">
								<h:outputLabel value="#{preparedUrl.environmentType}"></h:outputLabel>
							</p:column>
						</p:dataTable>
                          
                          
                          
                          </p:fieldset>
                          
                          
                                        
                        </p:panel>
                    </div>
                    
                      <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				     </p:confirmDialog>

                </h:form>   
              
                  
            </div>
       
    </ui:define>


</ui:composition>