<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="WEB-INF/template/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    
    
    <ui:define name="content" >
       
        
            <div class="ui-fluid">

                <h:form id="form1" >          
                    <div class="Container100 Responsive100" style="height: 600px;">
                        <p:panel >
                        
                          <div class="ui-fluid">
                            <f:facet name="header" >
                              #{lang.userautrolcap}
                            </f:facet>

							  <p:messages id="mss"></p:messages>
                              <h:inputHidden></h:inputHidden>
                                       
                                      
                                      <p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3">
                                       
                                           <p:inputText value="#{authorizationRolesController.roleName}" placeholder="Rol Adı Giriniz" />
                                           <p:commandButton value="Rol Ekle"  update=":form1" process=":form1"   actionListener="#{authorizationRolesController.saveRole}"  >
		                                           
		                                    </p:commandButton>
		                                    
		                                     <p:commandButton value="Rol List" actionListener="#{authorizationRolesController.listRole()}" update=":form1:rol"  process=":form1" partialSubmit="true" onclick="PF('dialogrol').show()" />
		                                    <p:commandButton value="Yeni Yetki"  onclick="PF('dialogytk').show()" />
		                                    
		                                    
                                       </p:panelGrid>
		                       
		                         
		                               <p:dataTable id="yt1" var="yt" rowKey="#{yt.id}"  reflow="true"
		                                            emptyMessage="Veri Yok" selection="#{authorizationRolesController.selectAuthList}"
		                                            value="#{authorizationRolesController.listUserAuth}"  >
		                             
		                                    <p:ajax event="rowUnselect"  update=":form1" />
		                                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
		                                    <p:column headerText="id" visible="false">
		                                       <p:outputLabel id="id"  value="#{yt.id}"  />       
		                                    </p:column>
		                                    
		                                    <p:column headerText="Yetki Adı" width="30%">
		                                         <p:outputLabel id="aunm"  value="#{yt.user_type}"  />
		                                    </p:column>
		                               
		                               </p:dataTable>
		                         
		                      
                        </div>
                                        
                        </p:panel>
                    </div>

                      <p:dialog responsive="true" id ="dialogytk" widgetVar="dialogytk" height="450" width="60%" closable="true"  header="Yeni Yetki">
                               <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
                                       
                                           <p:inputText value="#{authorizationRolesController.userAut.user_type}" placeholder="Yetki Adı Giriniz" >
                                                <f:ajax execute="@this" render="@this"></f:ajax>
                                           </p:inputText>
                                           <p:commandButton value="Yetki Ekle" update="@form" process="yt"  actionListener="#{authorizationRolesController.saveAuth}"  >
		                                           
		                                   </p:commandButton>
                                 </p:panelGrid>
		                       
		                         
		                               <p:dataTable id="yt" var="yt" rowKey="#{yt.id}" selectionMode="single" reflow="true"
		                                            emptyMessage="Veri Yok" 
		                                            value="#{authorizationRolesController.listUserAuth}"  >
		                             
		                                   
		                             
		                                    <p:column headerText="Kaldır" width="20%" >
		                                          <p:commandButton icon="ui-icon-trash" process="yt" update="yt"
	                                                               title="Remove" actionListener="#{authorizationRolesController.deleteAuth(yt)}"
	                                               />
		                                    </p:column>
		                                    
		                                    <p:column headerText="id" visible="false">
		                                       <p:inputText id="id" label="text" value="#{yt.id}"  />       
		                                    </p:column>
		                                    
		                                    <p:column headerText="Yetki Adı" width="30%">
		                                        <p:inputText id="aunm" label="text"  value="#{yt.user_type}"  />
		                                    </p:column>
		                               
		                               </p:dataTable>
                       </p:dialog>
                       
                       <p:dialog responsive="true" id ="dialogrol" widgetVar="dialogrol" height="450" width="50%" closable="true"  header="Rol Listesi">
                               <p:dataTable id="rol" var="rol" rowKey="#{rol.id}" selectionMode="single" reflow="true"
		                                            emptyMessage="Veri Yok" selection="#{authorizationRolesController.uRoles}"
		                                            value="#{authorizationRolesController.listUserRoles}"  >
		                             
		                                    <p:ajax event="rowSelect" update=":form1"
                                                oncomplete="PF('dialogrol').hide()" listener="#{authorizationRolesController.onRowSelectRole}"  /> 
		                                    
		                                    <p:column  headerText="Kaldır" width="20%" >
	                                              <p:commandButton icon="ui-icon-trash" process="rol" update="rol"
	                                                               title="Remove" actionListener="#{authorizationRolesController.deleteRole(rol)}"
	                                               />
	                                          
	                                          </p:column>
	                                          <p:column headerText="id" width="30%" visible="false" >
	                                             <p:outputLabel id="id" label="text" value="#{rol.id}"  />
	                                          </p:column>
	                                          <p:column headerText="User Role Name" width="30%" >
	                                            <p:outputLabel id="urol" label="text" value="#{rol.user_roles}"  >
	                                               
	                                             </p:outputLabel>
	                                          </p:column>
		                               
		                          </p:dataTable>
                       </p:dialog>
                </h:form>   
                
            </div>
       
    </ui:define>


</ui:composition>