/*
	<h:outputStylesheet library="css"  name="login.css" />
	by OZDEMIR
*/

.panel{
    height: 200px;
    margin-left: 30%;
    margin-top: 10% ;
    margin-right: 30% ;
}
.panel2{
    height: 600px;
    margin-left: 30%;
    margin-top: 10% ;
    margin-right: 30% ;
}
.centr{
    background-color: aqua;
    width: 100%;
    height: 100%;
}
input{
	border-radius:10px !important;
	width:80% !important;
	height:32px;
}
button{
	width:96% !important;
	border-radius:10px !important;
	height:32px !important;
}
a.ui-commandlink{
	font-size:12px !important;
	text-decoration:none;
}
a.ui-commandlink:hover{
	font-size:15px !important;
	text-decoration:underline;
}
select{
	border-radius:10px !important;
}
