.appParamTable .ui-datatable-header { text-align: left !important;padding-bottom: 3px; }
.appParamTable .ui-datatable-footer { text-align: left  !important; padding-bottom: 3px; }

.ui-tabs .ui-tabs-panel { padding: 0 !important; }

html, body { width:100%; height: 100%; margin: 0px; padding: 0px; }

div[id^='menuForm']{ background-color: #E6E6E6 }
div[id^='menuForm'] label { font-family: Arial; font-size:22px !important; }

.ui-button { padding:5px !important; }

/* div[id^="mainForm:layouts:schedulePanel"], */
/* div[id^="mainForm:layouts:reportPanel"], */
/* div[id*="testCaseDetail"]{ background-color: #f6fff6; } */

div[id^="mainForm:defectTask:defects"]{ background-color: #E6E6E6 }

div[id="mainForm:suiteCaseTabView:testSuiteList"] div.ui-scrollpanel-container { overflow-y:scroll; }
div[id^="mainForm:layouts:schedulePanel"]{ max-height: 425px !important; }
div[id^="mainForm:tasks"]{ margin:10px auto; }
div[id^="mainForm:tasks"] table thead[id^="mainForm:tasks"] tr th{ background-color: #27abff; color: #eee; }
div[id^="mainForm:tasks"] table tbody[id^="mainForm:tasks"] tr td{ text-align:center; padding:5px 3px !important; }
div[id^="mainForm:tasks"] table tbody[id^="mainForm:tasks"] tr.ui-datatable-even td { background:#F6F6F6; }
div[id^="mainForm:tasks"] table tbody[id^="mainForm:tasks"] tr.ui-datatable-odd td { background:#E6E6E6; }
div[id^="mainForm:tasks"] table tbody[id^="mainForm:tasks"] tr td input[type=text] { width:95%; padding: 3px; }
button[id^="mainForm:newTask"]{ margin:10px auto; display:block; }

div[id*="testCaseDetail_content"]{ padding:0px !important; background: inherit !important: }
div[id*="testCaseDetail_content"] div.ui-carousel{ border:0 !important; background: inherit !important; }
div[id*="testCaseDetail_content"] div.ui-carousel ul.ui-carousel-items{ width:100%; }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item{ width: auto !important; border: 0 !important; padding: 10px !important; background: inherit !important }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item div[id*="testSteps"] { max-width: 1000px !important; }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item div[id*="testSteps"] table thead tr th:nth-child(1) { width:10% !important; }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item div[id*="testSteps"] table thead tr th:nth-child(2) { width:50% !important; }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item div[id*="testSteps"] table thead tr th:nth-child(3) { width:20% !important; }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item div[id*="testSteps"] table thead tr th:nth-child(4) { width:20% !important; }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item div[id*="testSteps"] table tbody tr td { text-align:center; padding:5px 3px !important; }
div[id*="testCaseDetail_content"] div.ui-carousel li.ui-carousel-item div[id*="testSteps"] table tbody tr td input[type=text] { width:95%; padding: 3px; }

.centeredMenuBar.ui-menubar { text-align: center !important; }
.centeredMenuBar .ui-menu-list { display: inline-block; }

.highlight { background: green  !important; }
.mylight { background: red  !important; }

.cikis-label a{ color:#fff !important; }

#j_id_b{ padding:0px;padding-left:10px;padding-right:10px;height:80px !important; }

#j_id_b div{ overflow:hidden !important; }

#j_id_l .ui-widget-header{
	background: #26348d !important;
	border-color: #26348d !important;border-radius: 0px !important;}
.ui-widget-header{
	background: #26348d !important;
	border-color: #26348d !important;
	border-radius: 0px !important;
}
#form1 .ui-widget-header{
	background: #fff !important;
	border:none !important;
	border-radius: 0px !important;
}
button{
	background: #f1f6ff !important;
    color: #000 !important;
    font-size: 14px !important;
    border-radius:10px !important;
    width:auto !important;
    min-width:40px !important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
	color: #ea907b !important;
	font-size:12px !important;
}
.ui-menuitem-text{
	font-size:16px !important;
	font-family: Verdana;
}
.ui-widget-header .ui-layout-unit-header-title{
	font-size:13.5px !important;
}
.ui-panel-title{
	background-color:none !important;
	font-size:25px !important;
	padding:10px 0px !important;
	border-radius:10px;
	color:#26348d !important;
}
#formTopbar a{
	text-decoration:none;
	line-height:50px;
}
.ui-fluid .ui-button{
	margin-left:5px;
}
.ui-treenode .ui-treenode-leaf{
	border :20px !important;
}
input{
    padding: 10px !important;
    border: 1px solid !important;
    border-color: #8dd1ff !important;
    font-size: 15px !important;
    background-color: transparent !important;
    background: linear-gradient;
    border-radius: 9999em  !important;
}
input:focus{
	box-shadow: inset 0 0 0 1px #1beabd,
			0 0 0 1px #10abff,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff !important;
}
textarea{
	border-radius: 0px !important;
    padding: 10px !important;
    border: 1px solid #000 !important;
    font-size: 17px !important;
    font-family: Verdana;
}
.ui-datatable-reflow{
	margin-top:10px !important;
}
.ui-selectonemenu{
	border-radius: 0px !important;
    padding: 5px !important;
    border: none !important;
    font-size: 13px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger{
	border-left:none !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
	margin-top:15px !important;
}
.ui-datatable-header tr.ui-widget-content{
	background: #26348d !important;
	border:none !important;
	height:80px !important;
}
.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td{ 
	border-width:0px !important; 
}
.ui-datatable-tablewrapper{
	padding-right: 1px !important;
}

#j_id_l{
	width:240px !important;
}
#j_id_l .ui-icon-close{
	display:none !important;
}
.ui-fieldset-content input{
	margin-left:10px !important;
}
#j_id_l .ui-widget-content{
	overflow-x:hidden !important;
}
#j_id_m a{
	font-size: 13.5px !important;
}
.ui-datatable{
	text-align:left;
}
.ui-selectonemenu-trigger{
	background:none !important;
	margin-right:8px !important;
	background-color: #fbec88;
}
button:hover{
	box-shadow: inset 0 0 0 1px #1beabd,
			0 0 0 1px #10abff,
			3px -3px 30px #2e6e9e, 
			-3px 3px 30px #2e6e9e !important;
}
.highlight1 {
    background: #e6e6e6 !important;
}
.ui-layout-unit .ui-layout-unit-content {
    overflow: hidden !important;
}
div.ui-state-default{
	background:none !important;
}